<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width" />
<meta name="keywords" content="专业的p2p投融资平台" />
<meta name="description" content="专业的p2p投融资平台" />
<meta name="author" content="金额宝" />
<meta name="Copyright" content="金额宝网版权所有" />
<link rel="stylesheet" href="/content/css/lib/base.css">
<link rel="stylesheet" href="/content/css/myAccount.css">
<link rel="shortcut icon" href="/favicon.ico"/>
<script src="/content/js/jquery.js?2016101301"></script>
<script src="/content/js/ajaxHelper.js?2016101301"></script>
