<!--顶部logo---start-->
<div class="header-menu">
    <div class="header-main clearfix">
        <h1 class="logo fl">
            <a href="#">
                <img src="${filePath}/images/logo.png">
            </a>
        </h1>
        <div class="slogan fl">
            <a href="#">
                <img src="${filePath}/images/slogan.png">
            </a>
        </div>
        <ul class="header_nav fr">
            <li>
                <a href="/">首页</a>
            </li>
            <li>
                <a href="/html/product">项目列表</a>
            </li>
            <li>
                <a href="/html/secure">安全保障</a>
            </li>
            <li>
                <a href="/user/index" class="red">我的账户</a>
            </li>
        </ul>
    </div>
</div>
<script>
    var path = location.pathname;
    $(".header_nav a").each(function(){
        var hrefVal = $(this).attr("href");
        if(path == hrefVal){
            $(this).addClass("red")
        }else{
            $(this).removeClass();
        }
    })
</script>