<!DOCTYPE html>
<html>
<head>#parse("common/head.html")
    <link rel="stylesheet" href="${filePath}/css/index.css">
    <link rel="stylesheet" href="${filePath}/css/lib/swiper.css">
</head>

<body>
#parse("common/header.html")
<!-- 导航条 -->
#parse("common/navigation.html")
<!--侧边栏--start-->
#parse("common/sidebar.html")
<!--关于我们导航-->
<div class="aboutUs-nav">
    <p>
        <a href="/">首页</a><a href="javascript:;" class="red">公司动态</a>
    </p>
</div>
<!--关于我们内容-->
<div class="aboutUs-main clearfix">
    <!--关于我们--左侧导航-->
    #parse("common/sidebar-about.html")
    <!--关于我们--右侧主要内容-->
    <div class="aboutUs-content fr">
        <h2>公司动态</h2>
        <ul class="trends-list">
            <li>
                <a href="关于我们-公司动态-详情.html" class="clearfix">
                    <p><i>●</i>农业、平安、招商、交通、建设、民生银行升级维护公告</p>
                    <span>2016-03-03</span>
                </a>
            </li>
            <li>
                <a href="关于我们-公司动态-详情.html" class="clearfix">
                    <p><i>●</i>P2P活期理财是否还有明天？</p>
                    <span> 2016-02-19</span>
                </a>
            </li>
            <li>
                <a href="关于我们-公司动态-详情.html" class="clearfix">
                    <p><i>●</i>公募基金谨慎不悲观 </p>
                    <span>2016-02-16</span>
                </a>
            </li>
            <li>
                <a href="关于我们-公司动态-详情.html" class="clearfix">
                    <p><i>●</i>抢红包 互联网企业成最大赢家</p>
                    <span>2016-02-15</span>
                </a>
            </li>
            <li>
                <a href="关于我们-公司动态-详情.html" class="clearfix">
                    <p><i>●</i>第三次股灾的反思：市场主体已改变 </p>
                    <span>2016-02-15</span>
                </a>
            </li>
            <li>
                <a href="关于我们-公司动态-详情.html" class="clearfix">
                    <p><i>●</i>中国人排队换美元 美国人忙着买金子</p>
                    <span class="time">2016-01-13</span>
                </a>
            </li>
            <li>
                <a href="关于我们-公司动态-详情.html" class="clearfix">
                    <p><i>●</i>股票发行注册制一锤定音</p>
                    <span>2016-12-29</span>
                </a>
            </li>
            <li>
                <a href="关于我们-公司动态-详情.html" class="clearfix">
                    <p><i>●</i>新三板发布收购新规范 </p>
                    <span>2016-12-28</span>
                </a>
            </li>
            <li>
                <a href="关于我们-公司动态-详情.html" class="clearfix">
                    <p><i>●</i>投资者大多输给了人性贪婪和恐惧 </p>
                    <span class="time">2016-12-25</span>
                </a>
            </li>
            <li>
                <a href="关于我们-公司动态-详情.html" class="clearfix">
                    <p><i>●</i>倒计时 基金年终规模战使出杀手锏  </p>
                    <span>2016-12-23</span>
                </a>
            </li>
        </ul>
        <div class="page"></div>
    </div>
</div>
#parse("common/footer.html")
</body>
<script src="../content/script/home/index.js"></script>
</html>