<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jebao.jebaodb.dao.mapper.TbRiskControlProjectCertificationsTemplateMapper" >
  <resultMap id="BaseResultMap" type="com.jebao.jebaodb.entity.TbRiskControlProjectCertificationsTemplate" >
    <id column="rcpct_id" property="rcpctId" jdbcType="BIGINT" />
    <result column="rcpct_project_id" property="rcpctProjectId" jdbcType="BIGINT" />
    <result column="rcpct_no" property="rcpctNo" jdbcType="VARCHAR" />
    <result column="rcpct_name" property="rcpctName" jdbcType="VARCHAR" />
    <result column="rcpct_remark" property="rcpctRemark" jdbcType="VARCHAR" />
    <result column="rcpct_path" property="rcpctPath" jdbcType="VARCHAR" />
    <result column="rcpct_url" property="rcpctUrl" jdbcType="VARCHAR" />
    <result column="rcpct_create_time" property="rcpctCreateTime" jdbcType="TIMESTAMP" />
    <result column="rcpct_is_del" property="rcpctIsDel" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    rcpct_id, rcpct_project_id, rcpct_no, rcpct_name, rcpct_remark, rcpct_path, rcpct_url, 
    rcpct_create_time, rcpct_is_del
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_risk_control_project_certifications_template
    where rcpct_id = #{rcpctId,jdbcType=BIGINT}
  </select>
  <insert id="insert" parameterType="com.jebao.jebaodb.entity.TbRiskControlProjectCertificationsTemplate" >
    <selectKey resultType="java.lang.Long" keyProperty="rcpctId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_risk_control_project_certifications_template (rcpct_project_id, rcpct_no, rcpct_name, 
      rcpct_remark, rcpct_path, rcpct_url, 
      rcpct_create_time, rcpct_is_del)
    values (#{rcpctProjectId,jdbcType=BIGINT}, #{rcpctNo,jdbcType=VARCHAR}, #{rcpctName,jdbcType=VARCHAR}, 
      #{rcpctRemark,jdbcType=VARCHAR}, #{rcpctPath,jdbcType=VARCHAR}, #{rcpctUrl,jdbcType=VARCHAR}, 
      #{rcpctCreateTime,jdbcType=TIMESTAMP}, #{rcpctIsDel,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jebao.jebaodb.entity.TbRiskControlProjectCertificationsTemplate" >
    <selectKey resultType="java.lang.Long" keyProperty="rcpctId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_risk_control_project_certifications_template
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rcpctProjectId != null" >
        rcpct_project_id,
      </if>
      <if test="rcpctNo != null" >
        rcpct_no,
      </if>
      <if test="rcpctName != null" >
        rcpct_name,
      </if>
      <if test="rcpctRemark != null" >
        rcpct_remark,
      </if>
      <if test="rcpctPath != null" >
        rcpct_path,
      </if>
      <if test="rcpctUrl != null" >
        rcpct_url,
      </if>
      <if test="rcpctCreateTime != null" >
        rcpct_create_time,
      </if>
      <if test="rcpctIsDel != null" >
        rcpct_is_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rcpctProjectId != null" >
        #{rcpctProjectId,jdbcType=BIGINT},
      </if>
      <if test="rcpctNo != null" >
        #{rcpctNo,jdbcType=VARCHAR},
      </if>
      <if test="rcpctName != null" >
        #{rcpctName,jdbcType=VARCHAR},
      </if>
      <if test="rcpctRemark != null" >
        #{rcpctRemark,jdbcType=VARCHAR},
      </if>
      <if test="rcpctPath != null" >
        #{rcpctPath,jdbcType=VARCHAR},
      </if>
      <if test="rcpctUrl != null" >
        #{rcpctUrl,jdbcType=VARCHAR},
      </if>
      <if test="rcpctCreateTime != null" >
        #{rcpctCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rcpctIsDel != null" >
        #{rcpctIsDel,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jebao.jebaodb.entity.TbRiskControlProjectCertificationsTemplate" >
    update tb_risk_control_project_certifications_template
    <set >
      <if test="rcpctProjectId != null" >
        rcpct_project_id = #{rcpctProjectId,jdbcType=BIGINT},
      </if>
      <if test="rcpctNo != null" >
        rcpct_no = #{rcpctNo,jdbcType=VARCHAR},
      </if>
      <if test="rcpctName != null" >
        rcpct_name = #{rcpctName,jdbcType=VARCHAR},
      </if>
      <if test="rcpctRemark != null" >
        rcpct_remark = #{rcpctRemark,jdbcType=VARCHAR},
      </if>
      <if test="rcpctPath != null" >
        rcpct_path = #{rcpctPath,jdbcType=VARCHAR},
      </if>
      <if test="rcpctUrl != null" >
        rcpct_url = #{rcpctUrl,jdbcType=VARCHAR},
      </if>
      <if test="rcpctCreateTime != null" >
        rcpct_create_time = #{rcpctCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rcpctIsDel != null" >
        rcpct_is_del = #{rcpctIsDel,jdbcType=INTEGER},
      </if>
    </set>
    where rcpct_id = #{rcpctId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jebao.jebaodb.entity.TbRiskControlProjectCertificationsTemplate" >
    update tb_risk_control_project_certifications_template
    set rcpct_project_id = #{rcpctProjectId,jdbcType=BIGINT},
      rcpct_no = #{rcpctNo,jdbcType=VARCHAR},
      rcpct_name = #{rcpctName,jdbcType=VARCHAR},
      rcpct_remark = #{rcpctRemark,jdbcType=VARCHAR},
      rcpct_path = #{rcpctPath,jdbcType=VARCHAR},
      rcpct_url = #{rcpctUrl,jdbcType=VARCHAR},
      rcpct_create_time = #{rcpctCreateTime,jdbcType=TIMESTAMP},
      rcpct_is_del = #{rcpctIsDel,jdbcType=INTEGER}
    where rcpct_id = #{rcpctId,jdbcType=BIGINT}
  </update>
    <!--==================================================华丽分割线==================================================-->
    <update id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        update tb_risk_control_project_certifications_template
        set rcpct_is_del = 2
        where rcpct_id = #{rcpctId,jdbcType=BIGINT}
    </update>
    <select id="selectForPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_risk_control_project_certifications_template
        order by rcpct_id DESC
        LIMIT #{pageWhere.begin},#{pageWhere.pageSize}
    </select>
    <select id="selectByProjectIdForPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_risk_control_project_certifications_template
        WHERE
        <include refid="selectByProjectId_Where_Clause"/>
        order by rcpct_id DESC
        LIMIT #{pageWhere.begin},#{pageWhere.pageSize}
    </select>
    <select id="selectByProjectIdForPageCount" resultType="java.lang.Integer">
        select count(*)
        from tb_risk_control_project_certifications_template
        WHERE
        <include refid="selectByProjectId_Where_Clause"/>
    </select>
    <sql id="selectByProjectId_Where_Clause">
        rcpct_is_del=1
        and rcpct_project_id=#{record.rcpctProjectId}
    </sql>
</mapper>