<!DOCTYPE html>
<html>
<head>
    <title>金额宝 - 主页金额宝 </title>
    #parse("common/head.html")
    <link rel="stylesheet" href="${filePath}/css/lib/swiper.css">
    <link rel="stylesheet" href="${filePath}/css/project-list.css">
    <link rel="stylesheet" href="${filePath}/js/plugins/lightbox2/css/lightbox.css">

</head>
#set($_loginUser_header_=$LoginUserTool.getUser())
<body>
<!-- 顶部登录信息 -->
#parse("common/header.html")
<!-- 导航条 -->
#parse("common/navigation.html")
<!--侧边栏--start-->
#parse("common/sidebar.html")

<!--内容 begin-->
<div class="project">
    <!--项目头部-->
    <div class="project-information  clearfix">
        <form action="/api/product/productDetail" method="post" id="defaultForm">
            <input id="bpId" name="bpId" type="hidden" value="${bpId}">
        </form>
        <!--项目头部左侧-->
        <div class="plan-card fl">
            <div class="plan-name">
                <p>{{product.bpName}}<span>{{product.bpNumber}}</span></p>
            </div>
            <div class="plan-item clearfix">
                <div class="plan-info text-left">
                    <div>{{product.bpRate}}%</div>
                    <p>年化收益率</p>
                </div>
                <div class="plan-info">
                    <div>{{product.bpPeriodsDisplay}}{{cycleType[product.bpCycleType]}}</div>
                    <p>项目期限</p>
                </div>
                <div class="plan-info text-right">
                    <div>{{product.bpBidMoney}}</div>
                    <p>项目总额</p>
                </div>
            </div>
            <div class="plan-progress clearfix">
                <p>投资进度</p>
                <span class="plan-line">
                    <span :style="'width: '+product.progress+'%'" class="plan-bar plan-bar-info"></span>
                </span>
                <span class="num fl">{{product.progress}}%</span>
            </div>
            <div class="plan-value clearfix">
                <p>还款方式：<span>{{bpInterestPayTypeArr[product.bpInterestPayType]}}</span></p>

                <p>计息时间：<span>满标日计息</span></p>
            </div>
            <div class="plan-value clearfix">
                <p>开始时间：<span>{{product.bpStartTime}}</span></p>

                <p>剩余期限：<span id="span1">0天0时0分0秒</span></p>
            </div>
            <!--<div class="plan-value clearfix" v-show="product.bpType == 3">-->
                <!--<p>加息利率：<span>{{product.bpUpRate}}</span></p>-->
            <!--</div>-->
        </div>
        <!--项目头部右侧-->
        <div class="plan-investment fr">
            <form>
                <input id="loginId" name="loginId" type="hidden" value="${_loginUser_header_.userId}">
                <p class="plan-money">可投金额：<span>{{product.bpSurplusMoney}}元</span></p>
                #if($_loginUser_header_.isLogin)
                <p class="plan-money">可用金额：<span>{{statistics.balance}}元</span></p>
                #else
                <!--<p class="plan-money">可用金额：<span>----元</span><span><a href="/account/login">登录</a>查看</span></p>-->
                <div class="plan-money clearfix">
                    <P class="fl">可用金额：<span>----元</span></P>
                    <a href="/account/login" class="fr" style="margin-top: 14px;">登录<span style="font-size: 16px;margin-left: 5px;">查看</span></a>
                </div>
                #end
                <div class="plan-tip">{{product.bpStartMoney}}元起投，{{product.bpRiseMoney}}元递增，{{product.bpTopMoney}}元上限</div>
                <div class="spinner">
                    <input type="text" id="investMoney" name="investMoney" :placeholder="product.bpStartMoney+'元起投，'+product.bpRiseMoney+'元递增，'+product.bpTopMoney+'元上限'"
                           class="entry-num">

                    <div class="plan-unit">元</div>
                </div>
                <div class="plan-explain clearfix">
                    <p>投资<i class="money-num">0</i>元，预期收益<span><i class="money-income">0</i>元</span></p>
                    #if($_loginUser_header_.isLogin)
                    <a href="/user/chargewithdraw">充值</a>
                    #else
                    <a href="/account/login">充值</a>
                    #end
                </div>
                <div v-if="product.bpStatus != 2">
                    <a href="javascript:;" class="plan-btn" >{{bpStatusArr[product.bpStatus]}}</a>
                </div>
                <div v-else>
                    <div v-if="flag">
                        #if($_loginUser_header_.isLogin)
                        <a href="javascript:;" class="plan-btn" @click="investBtn">立即投资</a>
                        #else
                        <a href="/account/login" class="plan-btn">立即投资</a>
                        #end
                    </div>
                    <div v-else>
                        <a href="javascript:;" class="plan-btn">倒计时中</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--认证文件、证件-->
    <div class="project-file">
        <div class="project-file-name">
            <h2><em></em>认证文件 / 证件 </h2>
        </div>
        <div class="file-img">
            <!--遮罩图片-->
            #if($_loginUser_header_.isLogin)
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" v-for="data in riskDataList">
                        <a :href="data.brdPath" data-lightbox="example-set" data-title=""><img :src="data.brdPath" class="swiper-lazy img-item"></a>
                    </div>
                </div>
            </div>
            #else
            <div class="img-shadow">
                <img src="${filePath}/images/project-bg.jpg" class="img-shadow">
                <p>您还没有登录<a href="/account/login">立即登录</a>后可查看认证图片</p>
            </div>
            #end
            <!-- 如果需要导航按钮 -->
            <a href="javascript:;" class="prev btn button-prev" style="background-size: 70%;"></a>
            <a href="javascript:;" class="next btn button-next" style="background-size: 70%;"></a>
        </div>
    </div>
    <!--项目描述-->
    <div class="project-detail">
        <div class="project-detail-tit clearfix">
            <h4 class="active">借款描述</h4>
            <h4>风险控制</h4>
            <h4>还款计划</h4>
            <h4>投资记录</h4>
        </div>
        <div class="project-detail-list">
            <!--借款描述-->
            <div class="project-detail-info active">
                <div class="borrow-info">
                    <h5>借款人信息</h5>
                    <table>
                        <thead>
                        <tr>
                            <th>借款人姓名</th>
                            <th>性别</th>
                            <th>年龄</th>
                            <th>身份证号</th>
                            <th>工作地</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{loanerInfo.lTrueName}}</td>
                            <td>{{sex[loanerInfo.lSex]}}</td>
                            <td>{{loanerInfo.lAge}}</td>
                            <td>{{loanerInfo.lIdNumber}}</td>
                            <td>{{loanerInfo.lWorkCity}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="funds">
                    <h5>资金用途</h5>
                    <input type="text" :value="product.bpFundsPurpose" readonly="readonly">
                </div>
                <div class="personal-credit">
                    <h5>个人征信</h5>
                    <input type="text" :value="product.bpPersonalCredit" readonly="readonly">
                </div>
            </div>
            <!--风险控制-->
            <div class="project-detail-info">
                <div class="mortgage">
                    <h5 class="mb20">抵押信息</h5>
                    <ul>
                        <li class="clearfix">
                            {{product.bpMortgageInfo}}
                        </li>
                    </ul>
                </div>
                <div class="mortgage">
                    <h5 class="mb20">还款来源</h5>
                    <ul>
                        <li class="clearfix">
                            {{product.bpRepayingSource}}
                        </li>
                    </ul>
                </div>
                <div class="mortgage">
                    <h5 class="mb20">风控意见</h5>
                    <ul>
                        <li class="clearfix">
                            <p>{{product.bpRiskOpinion}}</p>
                        </li>
                    </ul>
                </div>
            </div>
            <!--还款计划-->
            <div class="project-detail-info">
                <h5>预期还款计划</h5>
                <table class="repayment-plan">
                    <thead>
                    <tr>
                        <th>期数</th>
                        <th>还款日期</th>
                        <th>资金类型</th>
                        <th>还款金额</th>
                        <th>状态</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="detail in incomeDetailList">
                        <td>{{detail.indPeriods}}</td>
                        <td>{{detail.indDateTime}}</td>
                        <td>{{fundType[detail.indFundType]}}</td>
                        <td>{{detail.indMoney}}</td>
                        <td>{{repayStatus[detail.indStatus]}}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="page"></div>
            </div>
            <!--投资记录-->
            <div class="project-detail-info">
                <table class="pay-record">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>投资用户</th>
                        <th>投资金额（元）</th>
                        <th>投资时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(data, index) in investInfoList">
                        <td>{{ index+1 }}</td>
                        <td>{{data.loginName}}</td>
                        <td>{{data.money}}</td>
                        <td>{{data.createTime}}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="page"></div>
            </div>
        </div>
    </div>
</div>
<!--内容 end-->
<script src="${filePath}/js/plugins/lightbox2/js/lightbox-plus-jquery.min.js"></script>
#parse("common/footer.html")
<!--layerPage-->

<script src="${filePath}/js/lib/swiper.min.js"></script>
<script src="/content/script/product/productDetail.js"></script>
</body>
</html>
