#set($_loginUser_=$LoginUserTool.getUser())
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/content/AdminLTE-2.2.0/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
                <p>
                    $!_loginUser_.userName
                </p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <ul class="sidebar-menu">
            <li class="header">导航-借款中心</li>
            <li class="treeview  active">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>任务处理</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href=""><i class="fa fa-circle-o"></i>待办任务</a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i>已办结任务</a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i>我参与的贷款</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-files-o"></i> <span>客户档案管理</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href=""><i class="fa fa-circle-o"></i>企业客户档案</a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i>个人客户档案</a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i>个人贷款客户P2P账号</a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i>黑名单</a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i>客户资源分配</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>抵质押物管理</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href=""><i class="fa fa-circle-o"></i>抵质押物查询</a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i>抵质押物办理</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-laptop"></i>
                    <span>合同管理</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href=""><i class="fa fa-circle-o"></i>合同模板制作</a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i>合同管理</a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i>合同查询</a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i>合同要素</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-edit"></i> <span>资金管理</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a href=""><i class="fa fa-circle-o"></i>银行账户管理</a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i>银行流水录入</a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i>现金流水录入</a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i>银行账户明细</a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i>地区管理</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-table"></i> <span>款项台账</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href=""><i class="fa fa-circle-o"></i>本金放款台账</a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i>本金收款台账</a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i>利息收款台账</a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i>其他支出台账</a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i>手续费收支台账</a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i>本金利息台账日志</a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i>手续费收支台账日志</a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i>本金挪用台账</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-folder"></i> <span>审批进度查询</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href=""><i class="fa fa-circle-o"></i>调查审核项目</a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i>审批通过项目</a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i>审批否决项目</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-book"></i> <span>项目状态查询</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href=""><i class="fa fa-circle-o"></i>全部贷款业务</a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i>办理中项目</a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i>还款中项目</a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i>违约处理项目</a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i>结项项目</a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i>提前终止项目</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-edit"></i> <span>贷款产品管理</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href=""><i class="fa fa-circle-o"></i>贷款产品设计</a></li>
                    <li>
                        <a href="#"><i class="fa fa-circle-o"></i>基础材料配置<i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i>基础贷款材料管理</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i>基础贷款条件管理</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i>基础贷款归档材料管理</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i>费用配置管理</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i>文档模板管理</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>