/*我的账户首页*/
.account-main{
    width: 1200px;
    margin: 0 auto 40px;
}
/*我的账户--左侧导航*/
.account-user{
    width: 171px;
    height: 105px;
    background: url("../images/account-user.png") no-repeat center;
    border: 1px solid #e5e5e5;
    padding: 31px 0 0 73px;
    box-sizing: border-box;
}
.account-user p{
    font-size: 14px;
    line-height: 18px;
    color: #fff;
}
.account-menu{
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    background-color: #fff;
}
.account-menu li{
    width: 170px;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
.account-menu a{
    font-size: 16px;
    color: #333;
    display: block;
    line-height: 50px;
    height: 50px;
    width: 100%;
}
.account-menu em{
    height: 19px;
    background: url("../images/icon.png") no-repeat center;
    display: inline-block;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    margin: 8px 8px 0 36px;
    position: relative;
    top: 3px;
}
.account-menu .account-eye{
    width: 21px;
    background-position: 0 -18px;
}
.account-menu .account-pen{
    width: 18px;
    background-position: -21px -18px;
}
.account-menu .account-money{
    width:17px;
    background-position: -39px -18px;
}
.account-menu .account-income{
    width: 18px;
    background-position: -56px -18px;
}
.account-menu .account-rex{
    width: 21px;
    background-position: -74px -18px;
    top: 4px;
}
.account-menu .account-bankcord{
    width: 20px;
    background-position: -95px -18px;
}
.account-menu .account-install{
    width:17px;
    background-position: -115px -18px;
}
.account-menu .account-invite{
    width: 16px;
    background-position: -132px -18px;
}
.account-menu li a:hover{
    background-color: #ffad30;
    color: #fff;
}
.account-menu li a:hover , .account-menu li a.on{
    background-color: #ffad30;
    color: #fff;
}
.account-menu a:hover .account-eye ,.account-menu a.on .account-eye{
    background-position: 0 0;
}
.account-menu a:hover .account-pen ,.account-menu a.on .account-pen{
    background-position: -21px 0;
}
.account-menu a:hover .account-money ,.account-menu a.on .account-money{
    background-position: -39px 0;
}
.account-menu a:hover .account-income ,.account-menu a.on .account-income{
    background-position: -56px 0;
}
.account-menu a:hover .account-rex ,.account-menu a.on .account-rex{
    background-position: -74px 0;
}
.account-menu a:hover .account-bankcord ,.account-menu a.on .account-bankcord{
    background-position: -95px 0;
}
.account-menu a:hover .account-install ,.account-menu a.on .account-install{
    background-position: -115px 0;
}
.account-menu a:hover .account-invite ,.account-menu a.on .account-invite{
    background-position: -132px 0;
}
/*我的账户右侧--内容*/
.account-content{
    width: 974px;
    height: 100%;
}
/*没有数据的样式*/
.noProject{
    height: 87px;
    text-align: center;
    border: 1px solid #dbdbdb;
    border-top: none;
    font-size: 20px;
    color: #999999;
}
.noProject p{
    line-height: 87px;
}
.noProject a{
    width: 90px;
    height: 36px;
    display: inline-block;
    background-color: #36B1DF;
    color: #fff;
    line-height: 36px;
    border-radius: 5px;
    text-align: center;
    margin-left: 15px;
}
/*分页*/
.page{
    text-align: center;
    padding-top: 40px;
}
/*账户总览*/
.my-account{
    width: 100%;
    background-color: #fff;
    border: 1px solid #E5E5E5;
    margin-bottom: 10px;
}
.my-account-title{
    border-bottom: 1px solid #E5E5E5;
}
.my-account h2{
    font-size: 24px;
    color: #666;
    border-left: 4px solid #FFAD30;
    padding-left: 10px;
    margin: 17px 50px;
    box-sizing: border-box;
}
.my-account-cont{
    padding: 33px 50px 0;
}
.my-account-cont ul{
    width: 720px;
}
.my-account-cont li{
    float: left;
    height: 70px;
    width: 240px;
}
.my-account-cont li p{
    font-size: 14px;
    color: #666;
}
.my-account-cont li span{
    font-size: 18px;
    color: #FFAD30;
}
.account-content .num{
    font-size: 24px;
    color: #E94615;
}
.my-account-btn{
    margin-top: 24px;
    margin-left: -35px;
}
.my-account-btn a{
    width: 85px;
    height: 36px;
    float: left;
    line-height: 36px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
.my-account-btn .rechange{
    background-color:#FFAD30 ;
    margin-right: 17px;
}
.my-account-btn .expressive{
    background-color: #36B1DF;
}
/*开通资金账户*/
.user-function{
    width: 100%;
    background-color: #fff;
    border: 1px solid #E5E5E5;
    padding: 26px 0;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.user-function li{
    float: left;
    border-right: 1px solid #E5E5E5;
    width: 25%;
    box-sizing: border-box;
}
.user-function li:last-child{
    border-right: none;
}
.user-function li a{
    font-size: 14px;
    color: #666;
}
.user-function li img{
    display: block;
    margin: 0 auto 11px;
}
/*投资中的项目*/
.project,.income-detail{
    width: 100%;
    background-color: #fff;
    border: 1px solid #E5E5E5;
    padding:0 50px 26px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.project-menu{
    height: 48px;
    padding-top: 21px;
    box-sizing: border-box;
}
.project-menu h4 ,.account-rex-tit h4{
    margin-right: 93px;
    float: left;
    color: #333;
    font-size: 18px;
    cursor: pointer;
}
.project-more a{
    color:#36B1DF ;
}
.project-more i{
    background: url(../images/account-more.png) no-repeat center;
    width: 6px;
    height: 12px;
    display: inline-block;
    position: relative;
    top: 1px;
    margin-left: 3px;
}
.project-item ,.account-rex-item ,.rechange-item{
    display: none;
}
.project-menu h4.active ,.account-rex-tit h4.active{
    color: #E94615;
}
.project-item.active, .account-rex-item.active ,.rechange-item.active{
    display: block;
}
/*投资中--收支明细--表格样式*/
.project-item .investment thead th ,.income-detail-cont .income-table thead th{
    width: 145px;
}
/*还款中--表格样式*/
.project-item .repayment thead th{
    width: 340px;
}
/*投资记录页面*/
/*已还款--表格样式*/
.project-item .gaven thead th{
    width: 100px;
}
/*还款中借款表格样式*/
.project-item .borrow-repayment thead th, .project-item .borrow-clear thead th{
    width: 109px;
}
/*借款管理页面*/
.loanManagement{
    padding: 36px 0px 33px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}
.loanManagement li{
    float: left;
    border-right: 1px solid #E5E5E5;
    width: 25%;
    box-sizing: border-box;
}
.loanManagement li:last-child{
    border-right: none;
}
.loanManagement li h5{
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}
.loanManagement li p{
    font-size: 30px;
    color: #FFAD30;
}
/*还款中还款按钮样式*/
.table-btn{
    width: 53px;
    height: 24px;
    border-radius: 5px;
    text-align: center;
    line-height: 24px;
    background-color:#36B1DF ;
    color: #fff;
    display: inline-block;
}
/*充值提现页面*/
.account-rex-tit{
    width: 100%;
    height:51px ;
    background-color:#F5F5F5;
    border: 1px solid #e5e5e5;
    border-bottom: none;
    padding: 20px 50px 0;
    box-sizing: border-box;
}
.account-rex-list{
    width: 100%;
    background-color: #fff;
    padding: 16px 50px 12px;
    height: 392px;
    box-sizing: border-box;
    border: 1px solid #e5e5e5;
}
.account-rex-item{
    border: 1px dotted #E5E5E5;
    width: 870px;
    height: 362px;
    /*padding: 20px 32px;*/
    box-sizing: border-box;
    border-radius: 5px;
}
/*我要提现*/
.account-bankImg{
    width:230px;
    background-color:#36B1DF ;
    border-radius: 10px;
    padding: 27px 22px;
    box-sizing: border-box;
    margin: 20px 32px;
}
.account-bankDetail{
    margin-left: 8px;
    color: #fff;
}
.account-bankDetail h5{
    font-size: 18px;
    margin-bottom: 5px;
}
.account-bankDetail .card-num{
    font-size: 15px;
    margin-top: 23px;
}
.account-banktext{
    font-size: 16px;
    margin: 20px 32px;
}
.account-banktext h5{
    color: #666;
    float: left;
    width: 80px;
    text-align: right;
    font-size: 16px;
}
.account-banktext p{
    color: #333;
    float: left;
}
.account-banktext input{
    width: 100px;
    height: 33px;
    background-color:#F0F0F0 ;
    border: 1px solid #E5E5E5;
    margin-top: -10px;
    font-size: 12px;
    color: #333;
    text-align: center;
}
.account-banktext p span{
    font-size: 16px;
    color:#E94615 ;
}
.account-banktext p em{
    font-size: 14px;
}
.account-btn{
    width: 70px;
    height: 30px;
    border-radius: 6px;
    background-color:#36B1DF ;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    display: block;
    color: #fff;
    margin-left: 110px;
}
/*我要充值--快捷充值、快速充值*/
.rechange-type-title{
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    padding-left: 20px;
}
.rechange-type-title h5{
    font-size: 16px;
    color: #333333;
    float: left;
    width: 92px;
    text-align: center;
    margin-right: 56px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}
.rechange-type-title h5.active{
    color: #ffad30;
    border-bottom: 1px solid #ffad30;
}
/*变化银行卡*/
.changeCard{
    width: 70px;
    height: 20px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    line-height: 20px;
    display: block;
    color:#36B1DF;
    font-size: 10px;
    margin-top: 16px;
}
.ml0{
    margin-left: 0;
}
/*账户设置*/
.account-install-list ,.account-Invitation-list{
    padding: 0 50px;
    width: 100%;
    box-sizing: border-box;
}
.account-install-item{
    border-bottom: 1px dashed #E5E5E5;
    padding: 23px 0 25px 48px;
}
.account-install-item img{
    float: left;
    margin-right: 66px;
}
.account-install-item h5{
    font-size: 16px;
    color: #666;
    float: left;
    width: 125px;
    line-height: 30px;
}
.account-install-item p{
    font-size: 14px;
    color: #333;
    width: 443px;
    float: left;
    line-height: 18px;
}
.pt5{
    padding-top: 5px;
}
.account-install-item .install-btn{
    width: 70px;
    height: 30px;
    border-radius: 6px;
    float: right;
    text-align: center;
    line-height: 30px;
    margin-right: 18px;
    color: #fff;
}
.account-open ,.account-show{
    background-color: #36B1DF;
}
/*修改登录密码*/
.modifyCont{
    width: 357px;
    margin: 48px auto 0;
    display: none;
}
.modifyCont>div{
    margin-bottom: 20px;
}
.modifyCont p{
    font-size: 14px;
    color: #333;
    float: left;
    width: 84px;
    text-align: right;
    line-height: 30px;
}
.modifyCont input[type=text]{
    width: 150px;
    height: 30px;
    background-color: #F0F0F0;
    border: 1px solid #E5E5E5;
    float: left;
    padding-left: 10px;
    box-sizing: border-box;
}
.modifyCont input[type=password],.invitation input[type=text]{
    width: 270px;
    height: 30px;
    background-color: #F0F0F0;
    border: 1px solid #E5E5E5;
    float: left;
    padding-left: 10px;
    box-sizing: border-box;
}
.modifyCont input[type=button]{
    width: 114px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #36B1DF;
    float: right;
    color: #36B1DF;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
.ok-btn{
    width: 80px;
    height: 30px;
    border: 1px solid #36B1DF;
    background-color: #36B1DF;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    display: block;
    border-radius: 5px;
    margin: 0 auto;
}
.modifyCont .color{
    color: #999 !important;
    background-color: #fff !important;
    border: 1px solid #e5e5e5 !important;
}
/*邀请好友*/
.account-Invitation-item{
    border-bottom: 1px dashed #E5E5E5;
    height: 78px;
    font-size: 14px;
    padding-top: 23px;
    box-sizing: border-box;
}
.account-Invitation-item p{
    float: left;
    color: #333;
    line-height:32px;
    width: 98px;
    text-align: right;
}
.account-Invitation-item input[type=text]{
    float: left;
    color: #666;
    width: 245px;
    height: 30px;
    border: 1px solid #E5E5E5;
    background-color: #F0F0F0;
    padding-left: 10px;
    box-sizing: border-box;
    margin-right: 40px;
}
.account-Invitation-item input[type=button]{
    float: left;
    line-height: 30px;
    width: 70px;
    height: 30px;
    border-radius: 6px;
    background-color: #36B1DF;
    text-align: center;
    color: #fff;
    font-size: 15px;
    border:none;
    cursor: pointer;
}
