/*实名中间页*/
.realName-main{
    width: 1200px;
    height: 453px;
    background-color: #fff;
    margin: 0 auto 40px;
    box-sizing: border-box;
    padding-top: 100px;
}
.realName-content{
    width: 440px;
    margin: 0 auto;
}
.realName-content em{
    position: relative;
    top:7px;
    margin-right: 7px;
}
.userName ,.userId{
    margin-bottom: 20px;
}
.userName>div,.userId>div{
    float: left;
    font-size: 14px;
    color: #999;
    border: 1px solid #d0d0d0;
    height: 38px;
    line-height: 36px;
    border-radius: 5px;
    padding-left: 13px;
}
.userName p,.userId p{
    float: left;
    font-size: 14px;
    color: #333;
    height: 41px;
    line-height: 40px;
}
.userName em{
    background: url("../images/realName-user.png") no-repeat center;
    width: 24px;
    height: 22px;
    display: inline-block;
}
.userId em{
    background: url("../images/realName-Id.png") no-repeat center;
    width: 24px;
    height: 21px;
    display: inline-block;
}
.realName-content input{
    border: none;
    border-left: 1px solid #e5e5e5;
    padding-left: 24px;
    width: 313px;
    box-sizing: border-box;
}
.authenticate{
    width: 360px;
    height: 40px;
    background-color: #36b1df;
    display: block;
    color: #fff;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
}
.realName-detail {
    width: 360px;
    margin-left: 68px;
}
.realName-detail em{
    background: url("../images/realName-light.png") no-repeat;
    width: 18px;
    height: 18px;
    display: inline-block;
    position: relative;
    top: 2px;
}
.realName-detail .tip{
    font-size: 13px;
    color: #666;
    margin-bottom: 5px;
}
.realName-detail p{
    color: #999;
    margin-bottom: 5px;
    line-height: 14px;
}
.pay-partner{
    margin-left: 25px;
}