<!DOCTYPE html>
<html>
<head>#parse("common/head.html")
</head>
<body class="skin-blue sidebar-mini">
#parse("common/main-header.html")
<!-- Left side column. contains the logo and sidebar -->
#parse("common/main-sidebar.html")
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>借款管理-建标-添加借款</h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <form action="" class="form-inline" id="defaultForm" novalidate="novalidate">
            <input name="bpLoanerId" type="hidden" value="${bpLoanerId}"/>
            <input id="bpPeriods" name="bpPeriods" type="hidden"/>
            <input id="bpCycleSize" name="bpCycleSize" type="hidden" value="1"/>

            <!--基本信息-->
            <div class="row">
                <div class="col-xs-12">
                    <div class="box-title">
                        <h5>基本信息</h5>
                    </div>
                    <div class="box box-primary">
                        <div class="box-body">
                            <div class="form-group">
                                <div class="input-group margin">
                                    <div class="input-group-addon">项目编号</div>
                                    <input type="text" class="form-control" placeholder="" name="bpNumber">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group margin">
                                    <div class="input-group-addon">标的名称</div>
                                    <input type="text" class="form-control" placeholder="" name="bpName">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group margin">
                                    <div class="input-group-addon">产品类型</div>
                                    <select name="bpType" class="form-control" style="width: 160px;">
                                        <option value="0">请选择</option>
                                        <option value="1">普通理财</option>
                                        <option value="2">新手专享</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group margin">
                                    <div class="input-group-addon">募集时间</div>
                                    <input type="text" placeholder="" class="form-control chooseDate" name="bpStartTime">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group margin">
                                    <div class="input-group-addon">募集期限</div>
                                    <input type="text" placeholder="" class="form-control" name="bpOpenTime">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group margin">
                                    <div class="input-group-addon">募集结束</div>
                                    <input type="text" placeholder="" class="form-control chooseDate" name="bpEndTime">
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="input-group margin">
                                    <div class="input-group-addon">起投金额</div>
                                    <input type="text" placeholder="" class="form-control" name="bpStartMoney">
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="input-group margin">
                                    <div class="input-group-addon">递增金额</div>
                                    <input type="text" placeholder="" class="form-control" name="bpRiseMoney">
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="input-group margin">
                                    <div class="input-group-addon">投资上限</div>
                                    <input type="text" placeholder="" class="form-control" name="bpTopMoney">
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="input-group margin">
                                    <div class="input-group-addon">募集金额</div>
                                    <input type="text" placeholder="" class="form-control" name="bpBidMoney">
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="input-group margin">
                                    <div class="input-group-addon">借款利率</div>
                                    <input type="text" placeholder="" class="form-control" name="bpRate">
                                </div>
                            </div>
                            <div class="form-group margin">
                                <div class="input-group">
                                    <div class="input-group-addon">借款期限</div>
                                    <input type="text" placeholder="" class="form-control" name="bpPeriodsDisplay">
                                </div>
                            </div>
                            <div class="form-group margin">
                                <div class="input-group">
                                    <div class="input-group-addon">周期选项</div>
                                    <select name="bpCycleType" class="form-control" style="width: 160px;">
                                        <option value="0">请选择</option>
                                        <option value="1">日</option>
                                        <option value="2">月</option>
                                        <option value="3">季</option>
                                        <option value="4">年</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group margin">
                                <div class="input-group">
                                    <div class="input-group-addon">预期放款日期</div>
                                    <input type="text" placeholder="" class="form-control chooseDate" name="bpExpectLoanDate">
                                </div>
                            </div>
                            <div class="form-group margin">
                                <div class="input-group">
                                    <div class="input-group-addon">预期还款日期</div>
                                    <input type="text" placeholder="" class="form-control chooseDate" name="bpExpectRepayDate">
                                </div>
                            </div>
                            <div class="form-group margin">
                                <div class="input-group">
                                    <div class="input-group-addon">还款方式</div>
                                    <select name="bpInterestPayType" class="form-control" style="width: 160px;">
                                        <option value="0">请选择</option>
                                        <option value="1">一次性还本付息</option>
                                        <option value="2">先息后本，按期付息</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group margin">
                                <div class="input-group">
                                    <div class="input-group-addon">平台服务费</div>
                                    <input type="text" placeholder="" class="form-control" name="bpServiceChargeRate">
                                </div>
                            </div>
                            <div class="form-group margin">
                                <div class="input-group">
                                    <div class="input-group-addon">逾期罚息</div>
                                    <input type="text" placeholder="" class="form-control" name="bpLateRate">
                                    <div class="input-group-addon">*借款利率</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--预期还款计划-->
            <div class="row">
                <div class="col-xs-12">
                    <div class="box-title">
                        <h5>预期放款计划</h5>
                    </div>
                    <div class="form-group ">
                        <a href="javascript:;" class="btn btn-primary " role="button" @click="createIntent">生成</a>
                    </div>
                    <div class="box box-primary">
                        <div class="box-body">
                            <div id="orderlist_table_wrapper" class="dataTables_wrapper">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <table id="orderlist_table" class="table table-bordered table-hover dataTable"
                                               role="grid" aria-describedby="orderlist_table_info">
                                            <thead>
                                            <tr role="row">
                                                <th width="20%" class="ui-state-default sorting_disabled" rowspan="1"
                                                    colspan="1">期次
                                                </th>
                                                <th width="20%" class="ui-state-default sorting_disabled" rowspan="1"
                                                    colspan="1">还款日期
                                                </th>
                                                <th width="20%" class="ui-state-default sorting_disabled" rowspan="1"
                                                    colspan="1">还款本金
                                                </th>
                                                <th width="20%" class="ui-state-default sorting_disabled" rowspan="1"
                                                    colspan="1">还款利息
                                                </th>
                                                <th width="20%" class="ui-state-default sorting_disabled" rowspan="1"
                                                    colspan="1">还款金额
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr role="row" class="odd" v-for="intent in intentList">
                                                <td>{{intent.intentPeriod}}</td>
                                                <td>{{intent.repayDate}}</td>
                                                <td>{{intent.principal}}</td>
                                                <td>{{intent.interest}}</td>
                                                <td>{{intent.total}}</td>
                                            </tr>
                                            <tr role="row" class="even">
                                                <td>总计</td>
                                                <td></td>
                                                <td>10000</td>
                                                <td>1200</td>
                                                <td>101200</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--项目说明-->
            <div class="row">
                <div class="col-xs-12">
                    <div class="box-title">
                        <h5>项目说明</h5>
                    </div>
                    <div class="box box-primary">
                            <div class="box-body">
                                <div class="form-group">
                                    <div class="input-group margin">
                                        <div class="input-group-addon"><span class="text-red">*</span>产品类型</div>
                                        <select name="rcptId" id="rcptId" class="form-control" style="width: 160px;" v-model="selected">
                                            <option value="0">请选择</option>
                                            <option v-for="temp in projList" :value="temp.rcptId">{{temp.rcptName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group margin">
                                        <div class="input-group-addon"><span class="text-red">*</span>借款描述</div>
                                        <input type="text" class="form-control" placeholder="" name="bpBorrowDesc" :value="projectTemp.bpBorrowDesc">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group margin">
                                        <div class="input-group-addon"><span class="text-red">*</span>资金用途</div>
                                        <input type="text" class="form-control" placeholder="" name="bpFundsPurpose" :value="projectTemp.bpFundsPurpose">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group margin">
                                        <div class="input-group-addon"><span class="text-red">*</span>还款来源</div>
                                        <input type="text" value="" placeholder="" class="form-control" name="bpRepayingSource" :value="projectTemp.bpRepayingSource">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group margin">
                                        <div class="input-group-addon"><span class="text-red">*</span>抵押信息</div>
                                        <input type="text"  placeholder="" class="form-control" name="bpMortgageInfo" :value="projectTemp.bpMortgageInfo">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group margin">
                                        <div class="input-group-addon"><span class="text-red">*</span>个人征信</div>
                                        <input type="text"  placeholder="" class="form-control" name="bpPersonalCredit" :value="projectTemp.bpPersonalCredit">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="input-group margin">
                                        <div class="input-group-addon"><span class="text-red">*</span>风控意见</div>
                                        <input type="text"  placeholder="" class="form-control" name="bpRiskOpinion" :value="projectTemp.bpRiskOpinion">
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </form>
        <!--认证材料-->
        <!--<div class="row">-->
            <!--<div class="col-xs-12">-->
                <!--<div class="box-title">-->
                    <!--<h5>认证材料</h5>-->
                <!--</div>-->
                <!--<div class="form-group ">-->
                    <!--<a href="javascript:;" class="btn btn-primary " role="button" target="_blank"-->
                       <!--id="add-material">添加</a>-->
                <!--</div>-->
                <!--<div class="box box-primary">-->
                    <!--<div class="box-body">-->
                        <!--<div class="dataTables_wrapper">-->
                            <!--<div class="row">-->
                                <!--<div class="col-xs-12">-->
                                    <!--<table class="table table-bordered table-hover dataTable" role="grid"-->
                                           <!--aria-describedby="orderlist_table_info">-->
                                        <!--<thead>-->
                                        <!--<tr role="row">-->
                                            <!--<th width="25%" class="ui-state-default sorting_disabled" rowspan="1"-->
                                                <!--colspan="1">材料名称-->
                                            <!--</th>-->
                                            <!--<th width="25%" class="ui-state-default sorting_disabled" rowspan="1"-->
                                                <!--colspan="1">备注-->
                                            <!--</th>-->
                                            <!--<th width="25%" class="ui-state-default sorting_disabled" rowspan="1"-->
                                                <!--colspan="1">操作-->
                                            <!--</th>-->
                                        <!--</tr>-->
                                        <!--</thead>-->
                                        <!--<tbody>-->
                                        <!--<tr role="row">-->
                                            <!--<td>认证材料</td>-->
                                            <!--<td>认证材料</td>-->
                                            <!--<td>-->
                                                <!--<a href="javascript:;" class="btn btn-default btn-xs"-->
                                                   <!--role="button">预览</a>-->
                                                <!--<a href="javascript:;" class="btn btn-default btn-xs remove-msg"-->
                                                   <!--role="button">删除</a>-->
                                            <!--</td>-->
                                        <!--</tr>-->
                                        <!--</tbody>-->
                                    <!--</table>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--按钮-->
        <div class="row">
            <div class="col-xs-12">
                <div class="box-body">
                    <a id="submitBtn" href="javascript:;" class="btn btn-primary btn-lg add" role="button" @click="addBtn">建标</a>
                    <a href="javascript:;" class="btn btn-primary btn-lg" role="button" @click="cancelBtn">取消</a>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- /.content-wrapper -->
#parse("common/footer.html")
<script src=$UrlHelperTool.href("/content/script/bidplan/addplan.js")></script>
</body>
</html>