<!DOCTYPE html>
<html>
<head>#parse("common/head.html")
</head>
<body class="skin-blue sidebar-mini">
#parse("common/main-header.html")
<!-- Left side column. contains the logo and sidebar -->
#parse("common/main-sidebar.html")
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>借款信息-等待开标</h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <!--表格内容-->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <form action="" class="form-inline" id="order_search_form" method="post" novalidate="novalidate">
                            <input type="hidden" name="bpStatus" value="0">
                        </form>
                        <div id="orderlist_table_wrapper" class="dataTables_wrapper">
                            <div class="row">
                                <div class="col-xs-12">
                                    <table id="orderlist_table" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="orderlist_table_info">
                                        <thead>
                                        <tr role="row">
                                            <th width="10%" class="ui-state-default sorting_disabled" rowspan="1" colspan="1">项目编号</th>
                                            <th width="10%" class="ui-state-default sorting_disabled" rowspan="1" colspan="1">标的名称</th>
                                            <th width="10%" class="ui-state-default sorting_disabled" rowspan="1" colspan="1">借款类型</th>
                                            <th width="10%" class="ui-state-default sorting_disabled" rowspan="1" colspan="1">用户名</th>
                                            <th width="10%" class="ui-state-default sorting_disabled" rowspan="1" colspan="1">姓名</th>
                                            <th width="10%" class="ui-state-default sorting_disabled" rowspan="1" colspan="1">借款总金额</th>
                                            <th width="10%" class="ui-state-default sorting_disabled" rowspan="1" colspan="1">利率</th>
                                            <th width="10%" class="ui-state-default sorting_disabled" rowspan="1" colspan="1">期限</th>
                                            <th width="10%" class="ui-state-default sorting_disabled" rowspan="1" colspan="1">申请时间</th>
                                            <th width="10%" class="ui-state-default sorting_disabled" rowspan="1" colspan="1">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr role="row" class="odd">
                                            <td>ZE03161101</td>
                                            <td>月利宝1031</td>
                                            <td>普通理财</td>
                                            <td>张三</td>
                                            <td>张三</td>
                                            <td>10000.00</td>
                                            <td>5%</td>
                                            <td>30天</td>
                                            <td>2016/10/3110:21:08</td>
                                            <td>
                                                <a href="开标--详情.html" class="btn btn-default btn-xs" role="button" target="_blank">查看详情</a>
                                            </td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td>ZE03161101</td>
                                            <td>月利宝1031</td>
                                            <td>普通理财</td>
                                            <td>张三</td>
                                            <td>张三</td>
                                            <td>10000.00</td>
                                            <td>5%</td>
                                            <td>30天</td>
                                            <td>2016/10/3110:21:08</td>
                                            <td>
                                                <a href="开标--详情.html" class="btn btn-default btn-xs" role="button" target="_blank">查看详情</a>
                                            </td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td>ZE03161101</td>
                                            <td>月利宝1031</td>
                                            <td>普通理财</td>
                                            <td>张三</td>
                                            <td>张三</td>
                                            <td>10000.00</td>
                                            <td>5%</td>
                                            <td>30天</td>
                                            <td>2016/10/3110:21:08</td>
                                            <td>
                                                <a href="开标--详情.html" class="btn btn-default btn-xs" role="button" target="_blank">查看详情</a>
                                            </td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td>ZE03161101</td>
                                            <td>月利宝1031</td>
                                            <td>普通理财</td>
                                            <td>张三</td>
                                            <td>张三</td>
                                            <td>10000.00</td>
                                            <td>5%</td>
                                            <td>30天</td>
                                            <td>2016/10/3110:21:08</td>
                                            <td>
                                                <a href="开标--详情.html" class="btn btn-default btn-xs" role="button" target="_blank">查看详情</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 pagination">
                                    <div id="pageNum"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- /.content-wrapper -->
#parse("common/footer.html")
</body>
<script src=$UrlHelperTool.href("/content/script/bidplan/reviewedplanlist.js")></script>
<!--pagination-->
<script>
    $(function(){
        //添加个人
        $('#add-people').on('click',function(){
            var tempObj= $('#addInforModal').clone();
            tempObj.find('form').attr('id','insertFormId');
            var tempHtml=tempObj.html();
            layer.open({
                title:'添加业务员信息',
                content:tempHtml,
                btn: ['添加', '重置'],
                area:['500px'],
                btn1: function(){
                    initValidateForm($('#insertFormId'));
                    var bootstrapValidator = $("#insertFormId").data('bootstrapValidator').validate();
                    if(!bootstrapValidator.isValid()){
                        return false;
                    }else{
                        layer.alert('添加成功！',function(){
                            layer.closeAll();
                        });
                    }
                },
                btn2: function(){
                    $("#insertFormId input").val("");
                    return false;
                }
            });
        });
        //删除信息
        $('.remove-msg').on('click',function(){
            _this=$(this);
            layer.open({
                content:'您是否删除信息?',
                btn: ['取消', '删除'],
                yes: function(){
                    layer.closeAll();
                },
                btn2: function(){
                    _this.parent().parent().remove();
                    layer.msg('删除成功！', {icon: 1});
                }
            });
        });
        //修改信息
        $('#modifyInformation').on('click',function(){
            var tempObj= $('#modInforInfModal').clone();
            tempObj.find('form').attr('id','ModifyFormId');
            var tempHtml=tempObj.html();
            layer.open({
                title:'修改业务员信息',
                content:tempHtml,
                area:['500px'],
                btn: ['修改', '重置'],
                btn1: function(){
                    initValidateForm($('#ModifyFormId'));
                    var bootstrapValidator = $("#ModifyFormId").data('bootstrapValidator').validate();
                    if(!bootstrapValidator.isValid()){
                        return false;
                    }else{
                        layer.alert('修改成功！',function(){
                            layer.closeAll();
                        });
                    }
                },
                btn2: function(){
                    $("#ModifyFormId input").val("");
                    return false;
                }
            });
        });
        //调用分页
        laypage({
            cont:$('#pageNum'), //容器。值支持id名、原生dom对象，jquery对象,
            pages: 100, //总页数
            groups: 7 //连续显示分页数
        });
    });
</script>
</html>