<!DOCTYPE html>
<html>
<head>#parse("common/head.html")
</head>
<body class="skin-blue sidebar-mini">
#parse("common/main-header.html")
<!-- Left side column. contains the logo and sidebar -->
#parse("common/main-sidebar.html")
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>风控信息</h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <!--项目信息-->
        <div class="box-title">
            <h5>项目信息</h5>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <form action="" class="form-inline" id="order_search_form" method="post" novalidate="novalidate">
                        <div class="box-body">
                            <div class="form-group">
                                <div class="input-group margin">
                                    <div class="input-group-addon"><span class="text-red">*</span>项目名称</div>
                                    <input type="text" class="form-control" placeholder="" name="projectName">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group margin">
                                    <div class="input-group-addon"><span class="text-red">*</span>借款描述</div>
                                    <input type="text" class="form-control" placeholder="" name="loanDescription">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group margin">
                                    <div class="input-group-addon"><span class="text-red">*</span>资金用途</div>
                                    <input type="text" class="form-control" placeholder="" name="funds">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group margin">
                                    <div class="input-group-addon"><span class="text-red">*</span>还款来源</div>
                                    <input type="text" class="form-control" placeholder="" name="Payment">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group margin">
                                    <div class="input-group-addon"><span class="text-red">*</span>抵押信息</div>
                                    <input type="text" class="form-control" placeholder="" name="mortgageInformation">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group margin">
                                    <div class="input-group-addon"><span class="text-red">*</span>个人征信</div>
                                    <input type="text" class="form-control" placeholder="" name="personalCredit">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group margin">
                                    <div class="input-group-addon"><span class="text-red">*</span>风控意见</div>
                                    <input type="text" class="form-control" placeholder="" name="controlOpinion">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--认证材料-->
        <div class="box-title">
            <h5>认证材料</h5>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <form action="" class="form-inline"  method="post" novalidate="novalidate">
                        <div class="box-body">
                            <div class="form-group ">
                                <a href="javascript:;" class="btn btn-primary " role="button" target="_blank" id="add-material">添加</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <table class="table table-bordered table-hover dataTable" role="grid" aria-describedby="orderlist_table_info">
                        <thead>
                        <tr role="row">
                            <th width="25%" class="ui-state-default sorting_disabled" rowspan="1" colspan="1">材料名称</th>
                            <th width="25%" class="ui-state-default sorting_disabled" rowspan="1" colspan="1">备注</th>
                            <th width="25%" class="ui-state-default sorting_disabled" rowspan="1" colspan="1">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr role="row">
                            <td>认证材料</td>
                            <td>认证材料</td>
                            <td>
                                <a href="javascript:;" class="btn btn-default btn-xs" role="button" id="modify-material">修改</a>
                                <a href="javascript:;" class="btn btn-default btn-xs remove-msg-table" role="button" target="_blank">删除</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--风控详情-->
        <div class="box-title">
            <h5>风控详情</h5>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <textarea id="kindEditorContent"  name="editorContent" style="height:350px;visibility:hidden;" class="col-xs-12"></textarea>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- /.content-wrapper -->
#parse("common/footer.html")
</body>
</html>
