
<!DOCTYPE html>
<html>
<head>
    <title>操作成功 -金额宝</title>
    #parse("common/head.html")
    <link rel="stylesheet" href="${filePath}/css/result.css">
</head>

<body>
<!-- 顶部登录信息 -->
#parse("common/header.html")
<!-- 导航条 -->
#parse("common/navigation.html")
<!--侧边栏--start-->
#parse("common/sidebar.html")

<!--内容 begin-->
<div class="result-main clearfix">
    <div class="result-content">
        <img src="${filePath}/images/result-right.png">
        <h4>${title}</h4>
        <p>$!{content}</p>
        #if($btnText && "$btnText"!="")
        <p class="result-btn clearfix">
            #if($btnInvestText && "$btnInvestText"!="")
            <a href="${investUrl}" class="go-btn fl">${btnInvestText}</a>
            #end
            <a href="${backUrl}" class="go-account fl">${btnText}</a>
            <a href="/" class="go-btn fr">首页</a>
        </p>
        #else
        <a href="/" class="go-btn">首页</a>
        #end

    </div>
</div>

<!--内容 end-->


#parse("common/footer.html")
</body>
</html>