<!DOCTYPE html>
<html>
<head>
    <title>员工管理 - 信投资本综合管理系统</title>
    #include("common/head.html")
</head>
<body class="skin-blue sidebar-mini">
<div class="wrapper">
    <!-- 头部菜单 -->
    #parse("common/main-header.html")
    <!-- 左侧菜单 -->
    #parse("common/main-sidebar.html")
    <!-- 页面主内容 -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>员工管理</h1>
        </section>
        <!-- Main content -->
        <section class="content" id="content">
            <!-- 查询条件块 -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-primary">
                        <form class="form-inline" id="search_form" novalidate="novalidate">
                            <div class="box-body">
                                <div class="form-group">
                                    <div class="input-group margin">
                                        <div class="input-group-addon">姓名</div>
                                        <input type="text" class="form-control" placeholder="" name="name"
                                               v-model="searchObj.name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group margin">
                                        <div class="input-group-addon">手机号</div>
                                        <input type="tel" class="form-control" placeholder="" name="mobile"
                                               v-model="searchObj.mobile">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group margin">
                                        <div class="input-group-addon">所属团队</div>
                                        <select class="select2" id="teamId" name="teamId" style="width: 15rem;"
                                                v-model="searchObj.teamId">
                                            <option value="0">全部</option>
                                            <option v-for="item in teams" :value="item.id">{{ item.name }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group margin">
                                        <div class="input-group-addon">级别</div>
                                        <div id="tree"></div>
                                        <select class="select2" id="rankId" name="rankId" style="width: 15rem;"
                                                v-model="searchObj.rankId">
                                            <option value="0">全部</option>
                                            <option v-for="item in ranks" :value="item.id">{{ item.name }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group  margin">
                                        <a href="javascript:;" class="btn btn-primary" role="button" id="btnSearch"
                                           @click="search">搜索</a>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="input-group  margin">
                                        <a href="javascript:;" class="btn btn-primary " role="button" id="add-people" @click="openAddForm">添加</a>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="input-group  margin">
                                        <a href="javascript:;" class="btn btn-primary " role="button" target="_blank">导出Excel</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--表格内容-->
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-primary">
                        <div class="box-body">
                            <div id="orderlist_table_wrapper" class="dataTables_wrapper">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <table id="orderlist_table" class="table table-bordered table-hover dataTable"
                                               role="grid" aria-describedby="orderlist_table_info">
                                            <thead>
                                            <tr role="row">
                                                <th>员工姓名</th>
                                                <th>员工编号</th>
                                                <th>手机号</th>
                                                <th>员工级别</th>
                                                <th>所属团队</th>
                                                <th>操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            <template v-for="item in employees">
                                                <tr>
                                                    <td>{{item.name}}</td>
                                                    <td>{{item.code}}</td>
                                                    <td>{{item.mobile}}</td>
                                                    <td>{{item.rankName}}</td>
                                                    <td>{{item.departmentName}}</td>
                                                    <td>
                                                        <a href="javascript:;" class="btn btn-default btn-xs"
                                                           role="button">修改</a>
                                                        <a href="javascript:;" class="btn btn-default btn-xs remove-msg"
                                                           role="button">删除</a>
                                                    </td>
                                                </tr>
                                            </template>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 pagination">
                                        <div id="pageNum"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- /.content-wrapper -->
    <div class="control-sidebar-bg"></div>
</div><!-- ./wrapper -->
<!--提示框-->
<!--添加个人借款用户-->
<div class="modal col-xs-12" id="addInforModal">
    <form class="form-horizontal">
        <div class="box-body">
            <div class="form-group">
                <label class="col-sm-3 control-label">姓名:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="" value="" name="name" v-model="formData.name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">手机号:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="" value="" name="mobile" v-model="formData.mobile">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">身份证号:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="" value="" name="cardNo" v-model="formData.cardNo">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">员工级别:</label>
                <div class="col-sm-8">
                    <select class="form-control rank" style="width:100%;height: 34px;border-color: #d2d6de;"  name="rankId" v-model.number="formData.rankId">
                        <option value="0">请选择</option>
                        <option v-for="item in ranks" :value="item.id">{{ item.name }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">所属部门:</label>
                <div class="col-sm-8">
                    <select class="form-control" style="width:100%;height: 34px;border-color: #d2d6de;"  name="departmentId" v-model.number="formData.departmentId">
                        <option value="0">请选择</option>
                        <option v-for="item in departments" :value="item.id">{{ item.name }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group team" :class="teamClass">
                <label class="col-sm-3 control-label">所属团队:</label>
                <div class="col-sm-8">
                    <select class="form-control" style="width:100%;height: 34px;border-color: #d2d6de;"  name="teamId" v-model.number="formData.teamId">
                        <option value="0">请选择</option>
                        <option v-for="item in partOfTeams" :value="item.id">{{ item.name }}</option>
                    </select>
                </div>
            </div>
        </div><!-- /.box-body -->
    </form>
</div>

<!--修改个人借款用户-->
<div class="modal col-xs-12" id="modInforInfModal">
    <form class="form-horizontal">
        <div class="box-body">
            <div class="form-group">
                <label class="col-sm-3 control-label">姓名:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="" value="张三" name="user" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">手机号:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="" value="13056987898" name="tel" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">身份证号:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="" value="130406256547895451" name="ID"
                           readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">员工级别:</label>
                <div class="col-sm-8">
                    <select class="form-control staffLevel" style="width:100%;height: 34px;border-color: #d2d6de;"
                            name="staffLevel">
                        <option value="">请选择</option>
                        <option value="理财顾问" selected>理财顾问</option>
                        <option value="团队经理">团队经理</option>
                        <option value="总监">总监</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">是否在职:</label>
                <div class="col-sm-8">
                    <select class="form-control" style="width:100%;height: 34px;border-color: #d2d6de;" name="work">
                        <option value="">请选择</option>
                        <option value="在职" selected>在职</option>
                        <option value="离职">离职</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">所属部门:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="" name="inDepartment" value="金额宝">
                </div>
            </div>
            <div class="form-group team">
                <label class="col-sm-3 control-label">所属团队:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="" name="team" value="互联网">
                </div>
            </div>
        </div><!-- /.box-body -->
    </form>
</div>

#include("common/footer.html")

<!--pagination-->
<script>
    $(function () {
        //添加个人
        $('#add-people2').on('click',function(){
            var tempObj= $('#addInforModal').clone();
            tempObj.find('form').prop('id','insertFormId');
            var tempHtml=tempObj.html();
            layer.open({
                title:'添加员工',
                content:tempHtml,
                btn: ['添加', '重置'],
                area:['500px'],
                btn1: function(){
                    var $form = $("#insertFormId");
                    var bootstrapValidator = $form.data('bootstrapValidator').validate();
                    //选择员工职位看是否能显示
                    if(!bootstrapValidator.isValid()){
                        return false;
                    }else{
                        vm.post($form);
//                        layer.alert('添加成功！',function(){
//                            layer.closeAll();
//                        });
                    }
                },
                btn2: function(){
                    var $form =$("#insertFormId");
                    var bootstrapValidator =$form.data('bootstrapValidator');
                    if(typeof bootstrapValidator !== "undefined"){
                        bootstrapValidator.resetForm();
                    }
                    $form[0].reset();
                    return false;
                }
            });
            var $form = $('#insertFormId');
            vm.bindFormValidate($form);
            vm.bindFormData($form);
            $('#insertFormId select').on('change',function(event){
                event.stopPropagation();
                if($(this).val() == '总监'){
                    $('.team').hide();
                }else{
                    $('.team').show();
                }
            });
        });

        //删除信息
        $('.remove-msg').on('click', function () {
            _this = $(this);
            layer.open({
                content: '您是否删除信息?',
                btn: ['取消', '删除'],
                yes: function () {
                    layer.closeAll();
                },
                btn2: function () {
                    _this.parent().parent().remove();
                    layer.msg('删除成功！', {icon: 1});
                }
            });
        });
        //修改信息
        $('#modifyInformation').on('click', function () {
            var tempObj = $('#modInforInfModal').clone();
            tempObj.find('form').attr('id', 'ModifyFormId');
            var tempHtml = tempObj.html();
            layer.open({
                title: '修改业务员信息',
                content: tempHtml,
                area: ['500px'],
                btn: ['修改', '重置'],
                btn1: function () {
                    initValidateForm($('#ModifyFormId'));
                    var bootstrapValidator = $("#ModifyFormId").data('bootstrapValidator').validate();
                    if (!bootstrapValidator.isValid()) {
                        return false;
                    } else {
                        layer.alert('修改成功！', function () {
                            layer.closeAll();
                        });
                    }
                },
                btn2: function () {
                    $("#ModifyFormId input").val("");
                    return false;
                }
            });
        });

    });
</script>
<script src="/content/script/employee/index.js"></script>

</body>
</html>
