<!DOCTYPE html>
<html>
<head>
    <title>充值提现-我的账户</title>
    #parse("common/head.html")
    <!--css-->
    <link rel="stylesheet" href="${filePath}/css/lib/bootstrapValidator.css">
    <link rel="stylesheet" href="${filePath}/css/sidebar.css">
    <link rel="stylesheet" href="${filePath}/css/myAccount.css">
</head>
<body>
<!-- 顶部登录信息 -->
#parse("common/header.html")
<!-- 导航条 -->
#parse("common/navigation.html")
<!--侧边栏--start-->
#parse("common/sidebar.html")
<!--我的账户导航-->
<div class="account-nav">
    <p>
        <a href="首页.html">首页</a><a href="javascript:;" class="red">充值提现</a>
    </p>
</div>
<!--我的账户内容-->
<div class="account-main clearfix">
    <!--我的账户--左侧导航-->
    #parse("user/sidebar.html")
    <!--我的账户--右侧主要内容-->
    <div class="account-content fr">
        <!--账户总览-->
        <div class="my-account">
            <h2>充值提现</h2>
        </div>
        <!--充值提现-->
        <div class="account-rex">
            <div class="account-rex-tit clearfix">
                <h4 class="active">我要充值</h4>
                <h4>我要提现</h4>
            </div>
            <div class="account-rex-list">
                <div class="account-rex-item  active">
                    <div class="recharge-type">
                        <div class="rechange-type-title clearfix">
                            <h5 class="active">快捷充值</h5>
                            <h5>快速充值</h5>
                            <!--<h5>网银充值</h5>-->
                        </div>
                        <div class="rechange-list">
                            <div class="rechange-item active">
                                <form id="quickPay_form" action="/api/user/quickpay" method="post">
                                    <div class="account-bankImg clearfix">
                                        <img src="${filePath}/images/account-bank.png" class="fl">
                                        <div class="account-bankDetail fl">
                                            <h5>{{ bankInfo.bankParentBankName }}</h5>
                                            <p class="card-type">储蓄卡</p>
                                            <p class="card-num">{{ bankInfo.bankCardNo }}</p>
                                        </div>
                                    </div>
                                    <div class="account-banktext clearfix">
                                        <h5>可用金额：</h5>
                                        <span class="red">{{ bankInfo.balance }}</span><i>元</i>
                                    </div>
                                    <div class="account-banktext clearfix">
                                        <h5>充值金额：</h5>
                                        <input type="text" name="money" value="" placeholder="请输入充值金额">
                                        <span>元</span>
                                    </div>
                                    <a href="javascript:;" class="account-btn" @click="quickPay">充值</a>
                                </form>
                            </div>
                            <div class="rechange-item">
                                <form id="fastRecharge_form" action="/api/user/fastRecharge" method="post">
                                    <div class="account-banktext clearfix">
                                        <h5>可用金额：</h5>
                                        <span class="red">{{ bankInfo.balance }}</span><i>元</i>
                                    </div>
                                    <div class="account-banktext clearfix">
                                        <h5>充值金额：</h5>
                                        <input type="text" name="money" value="" placeholder="请输入充值金额">
                                        <span>元</span>
                                    </div>
                                    <a href="javascript:;" class="account-btn" @click="fastRecharge">充值</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="account-rex-item">
                    <form id="withdrawDeposit_form" action="/api/user/withdrawDeposit" method="post">
                        <div class="account-bankImg clearfix">
                            <img src="${filePath}/images/account-bank.png" class="fl">
                            <div class="account-bankDetail fl">
                                <h5>{{ bankInfo.bankParentBankName }}</h5>
                                <p class="card-type">储蓄卡</p>
                                <p class="card-num">{{ bankInfo.bankCardNo }}</p>
                            </div>
                        </div>
                        <div class="account-banktext clearfix">
                            <h5>可用金额：</h5>
                            <span class="red">{{ bankInfo.balance }}</span><i>元</i>
                        </div>
                        <div class="account-banktext clearfix">
                            <h5>提现金额：</h5>
                            <input type="text" name="money" value="" placeholder="请输入提现金额">
                            <span>元</span>
                        </div>
                        <div class="account-banktext clearfix">
                            <h5>到账时间：</h5>
                            <p>预计<span>2016-12-12 </span><em>( 实际到账时间以银行入账为准 )</em></p>
                        </div>
                        <div class="account-banktext clearfix">
                            <h5>手续费：</h5>
                            <span>3元</span>
                        </div>
                        <a href="javascript:;" class="account-btn" @click="withdrawDeposit">提现</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--内容 end-->
#parse("common/footer.html")
<script src="/content/js/lib/bootstrapValidator.js"></script>
<script src="/content/js/lib/bootstrapValidator.ext.js"></script>
<script src="/content/script/user/chargewithdraw.js"></script>
</body>
</html>