<!DOCTYPE html>
<html>
<head>
    <title>邀请好友-我的账户</title>
    #parse("common/head.html")
    <!--css-->
    <link rel="stylesheet" href="${filePath}/css/sidebar.css">
    <link rel="stylesheet" href="${filePath}/css/myAccount.css">
</head>

<body>
<!-- 顶部登录信息 -->
#parse("common/header.html")
<!-- 导航条 -->
#parse("common/navigation.html")
<!--侧边栏--start-->
#parse("common/sidebar.html")
<!--内容 begin-->
<!--我的账户内容-->
<div class="account-main clearfix">
    <!--我的账户--左侧导航-->
    #parse("user/sidebar.html")
    <!--我的账户--右侧主要内容-->
    <div class="account-content fr">
        <!--邀请好友-->
        <div class="my-account">
            <div class="my-account-title">
                <h2>邀请好友</h2>
            </div>
            <div class="account-Invitation-list">
                <div class="account-Invitation-item clearfix">
                    <p>我的推荐码：</p>
                    <input type="text" value="13601254554" class="text-content">
                    <input type=button  value="复制" class="copyBtn">
                </div>
                <div class="account-Invitation-item clearfix">
                    <p>我的推荐链接：</p>
                    <input type="text" value="http://www.jebao.net/13601254554" class="text-content">
                    <input type=button  value="复制" class="copyBtn">
                </div>
            </div>
        </div>
    </div>
</div>
<!--内容 end-->
#parse("common/footer.html")
<script src="/content/script/user/sidebar.js"></script>
<script>
    $(function () {
        //复制
        $('.copyBtn').click(function () {
            $(this).prev().select();
            document.execCommand('Copy');
        });
    })
</script>
</body>
</html>