#set($_loginUser_sidebar_=$LoginUserTool.getUser())
<!--我的账户--左侧导航-->
<div class="account-sidebar fl">
    <div class="account-user">
        <p class="greeting">您好！</p>
        <p class="user-tel">$_loginUser_sidebar_.userName</p>
    </div>
    <ul class="sidebar-menu">
        <li>
            <a href="/user/index" class="on">
                <em class="account-eye"></em>账户总览
            </a>
        </li>
        <li>
            <a href="/user/investrecord">
                <em class="account-pen"></em>投资记录
            </a>
        </li>
        <li>
            <a href="/user/loanmanage">
                <em class="account-money"></em>借款管理
            </a>
        </li>
        <li>
            <a href="/user/funds">
                <em class="account-income"></em>收支明细
            </a>
        </li>
        <li>
            <a href="/user/chargewithdraw?typeId=1">
                <em class="account-rex"></em>充值提现
            </a>
        </li>
        <li>
            <a href="/user/bankcard">
                <em class="account-bankcord"></em>我的银行卡
            </a>
        </li>
        <li>
            <a href="/user/setting">
                <em class="account-install"></em>账户设置
            </a>
        </li>
        <li>
            <a href="/user/invite">
                <em class="account-invite"></em>邀请好友
            </a>
        </li>
    </ul>
</div>

<script>
    var theLocationPath = location.pathname;
    var sidebarNodes = document.querySelectorAll(".sidebar-menu a");
    for (var i=0;i<sidebarNodes.length;i++){
        var node = sidebarNodes[i];
        var href = node.getAttribute("href");
        if(href.split('?')[0] == theLocationPath){
            node.setAttribute("class","on");
        }else{
            node.setAttribute("class","");
        }
    }
</script>