<!--我的账户--左侧导航-->
<div class="account-sidebar fl">
    <div class="account-user">
        <p class="greeting">上午好！</p>
        <p class="user-tel">136****4554</p>
    </div>
    <ul class="account-menu">
        <li>
            <a href="我的账户首页.html"   class="on">
                <em class="account-eye"></em>账户总览
            </a>
        </li>
        <li>
            <a href="投资记录.html">
                <em class="account-pen"></em>投资记录
            </a>
        </li>
        <li>
            <a href="借款管理.html">
                <em class="account-money"></em>借款管理
            </a>
        </li>
        <li>
            <a href="收支明细.html">
                <em class="account-income"></em>收支明细
            </a>
        </li>
        <li>
            <a href="充值提现.html">
                <em class="account-rex"></em>充值提现
            </a>
        </li>
        <li>
            <a href="我的银行卡.html">
                <em class="account-bankcord"></em>我的银行卡
            </a>
        </li>
        <li>
            <a href="账户设置.html">
                <em class="account-install"></em>账户设置
            </a>
        </li>
        <li>
            <a href="邀请好友.html">
                <em class="account-invite"></em>邀请好友
            </a>
        </li>
    </ul>
</div>