<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jebao.jebaodb.dao.mapper.loanmanage.TbBidPlanMapper" >
    <resultMap id="BaseResultMap" type="com.jebao.jebaodb.entity.loanmanage.TbBidPlan" >
        <id column="bp_id" property="bpId" jdbcType="BIGINT" />
        <result column="bp_name" property="bpName" jdbcType="VARCHAR" />
        <result column="bp_number" property="bpNumber" jdbcType="VARCHAR" />
        <result column="bp_periods" property="bpPeriods" jdbcType="INTEGER" />
        <result column="bp_cycle" property="bpCycle" jdbcType="BIGINT" />
        <result column="bp_surplus_money" property="bpSurplusMoney" jdbcType="DECIMAL" />
        <result column="bp_loan_money" property="bpLoanMoney" jdbcType="DECIMAL" />
        <result column="bp_bid_money" property="bpBidMoney" jdbcType="DECIMAL" />
        <result column="bp_rate" property="bpRate" jdbcType="DECIMAL" />
        <result column="bp_start_time" property="bpStartTime" jdbcType="TIMESTAMP" />
        <result column="bp_end_time" property="bpEndTime" jdbcType="TIMESTAMP" />
        <result column="bp_start_money" property="bpStartMoney" jdbcType="DECIMAL" />
        <result column="bp_rise_money" property="bpRiseMoney" jdbcType="DECIMAL" />
        <result column="bp_top_money" property="bpTopMoney" jdbcType="DECIMAL" />
        <result column="bp_full_time" property="bpFullTime" jdbcType="TIMESTAMP" />
        <result column="bp_status" property="bpStatus" jdbcType="INTEGER" />
        <result column="bp_create_time" property="bpCreateTime" jdbcType="TIMESTAMP" />
        <result column="bp_update_time" property="bpUpdateTime" jdbcType="TIMESTAMP" />
        <result column="bp_loan_time" property="bpLoanTime" jdbcType="TIMESTAMP" />
        <result column="bp_repay_time" property="bpRepayTime" jdbcType="TIMESTAMP" />
        <result column="bp_loaner_id" property="bpLoanerId" jdbcType="BIGINT" />
        <result column="bp_true_name" property="bpTrueName" jdbcType="VARCHAR" />
        <result column="bp_login_id" property="bpLoginId" jdbcType="BIGINT" />
        <result column="bp_loaner_type" property="bpLoanerType" jdbcType="BIGINT" />
        <result column="bp_interest_pay_type" property="bpInterestPayType" jdbcType="BIGINT" />
        <result column="bp_open_time" property="bpOpenTime" jdbcType="BIGINT" />
        <result column="bp_interest_st" property="bpInterestSt" jdbcType="TIMESTAMP" />
        <result column="bp_interest_et" property="bpInterestEt" jdbcType="TIMESTAMP" />
        <result column="bp_remark" property="bpRemark" jdbcType="VARCHAR" />
        <result column="bp_expect_loan_time" property="bpExpectLoanTime" jdbcType="TIMESTAMP" />
        <result column="bp_service_charge_rate" property="bpServiceChargeRate" jdbcType="DECIMAL" />
        <result column="bp_late_rate" property="bpLateRate" jdbcType="DECIMAL" />
        <result column="bp_rcpt_id" property="bpRcptId" jdbcType="BIGINT" />
        <result column="bp_borrow_desc" property="bpBorrowDesc" jdbcType="VARCHAR" />
        <result column="bp_funds_purpose" property="bpFundsPurpose" jdbcType="VARCHAR" />
        <result column="bp_repaying_source" property="bpRepayingSource" jdbcType="VARCHAR" />
        <result column="bp_personal_credit" property="bpPersonalCredit" jdbcType="VARCHAR" />
        <result column="bp_mortgage_info" property="bpMortgageInfo" jdbcType="VARCHAR" />
        <result column="bp_risk_opinion" property="bpRiskOpinion" jdbcType="VARCHAR" />
        <result column="bp_repayed_periods" property="bpRepayedPeriods" jdbcType="INTEGER" />
        <result column="bp_is_del" property="bpIsDel" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Base_Column_List" >
        bp_id, bp_name, bp_number, bp_periods, bp_cycle, bp_surplus_money, bp_loan_money,
        bp_bid_money, bp_rate, bp_start_time, bp_end_time, bp_start_money, bp_rise_money,
        bp_top_money, bp_full_time, bp_status, bp_create_time, bp_update_time, bp_loan_time,
        bp_repay_time, bp_loaner_id, bp_true_name, bp_login_id, bp_loaner_type, bp_interest_pay_type,
        bp_open_time, bp_interest_st, bp_interest_et, bp_remark, bp_expect_loan_time, bp_service_charge_rate,
        bp_late_rate, bp_rcpt_id, bp_borrow_desc, bp_funds_purpose, bp_repaying_source, bp_personal_credit,
        bp_mortgage_info, bp_risk_opinion, bp_repayed_periods, bp_is_del
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from tb_bid_plan
        where bp_id = #{bpId,jdbcType=BIGINT}
    </select>
    <insert id="insert" parameterType="com.jebao.jebaodb.entity.loanmanage.TbBidPlan" >
        insert into tb_bid_plan (bp_id, bp_name, bp_number,
        bp_periods, bp_cycle, bp_surplus_money,
        bp_loan_money, bp_bid_money, bp_rate,
        bp_start_time, bp_end_time, bp_start_money,
        bp_rise_money, bp_top_money, bp_full_time,
        bp_status, bp_create_time, bp_update_time,
        bp_loan_time, bp_repay_time, bp_loaner_id,
        bp_true_name, bp_login_id, bp_loaner_type,
        bp_interest_pay_type, bp_open_time, bp_interest_st,
        bp_interest_et, bp_remark, bp_expect_loan_time,
        bp_service_charge_rate, bp_late_rate, bp_rcpt_id,
        bp_borrow_desc, bp_funds_purpose, bp_repaying_source,
        bp_personal_credit, bp_mortgage_info, bp_risk_opinion,
        bp_repayed_periods, bp_is_del)
        values (#{bpId,jdbcType=BIGINT}, #{bpName,jdbcType=VARCHAR}, #{bpNumber,jdbcType=VARCHAR},
        #{bpPeriods,jdbcType=INTEGER}, #{bpCycle,jdbcType=BIGINT}, #{bpSurplusMoney,jdbcType=DECIMAL},
        #{bpLoanMoney,jdbcType=DECIMAL}, #{bpBidMoney,jdbcType=DECIMAL}, #{bpRate,jdbcType=DECIMAL},
        #{bpStartTime,jdbcType=TIMESTAMP}, #{bpEndTime,jdbcType=TIMESTAMP}, #{bpStartMoney,jdbcType=DECIMAL},
        #{bpRiseMoney,jdbcType=DECIMAL}, #{bpTopMoney,jdbcType=DECIMAL}, #{bpFullTime,jdbcType=TIMESTAMP},
        #{bpStatus,jdbcType=INTEGER}, #{bpCreateTime,jdbcType=TIMESTAMP}, #{bpUpdateTime,jdbcType=TIMESTAMP},
        #{bpLoanTime,jdbcType=TIMESTAMP}, #{bpRepayTime,jdbcType=TIMESTAMP}, #{bpLoanerId,jdbcType=BIGINT},
        #{bpTrueName,jdbcType=VARCHAR}, #{bpLoginId,jdbcType=BIGINT}, #{bpLoanerType,jdbcType=BIGINT},
        #{bpInterestPayType,jdbcType=BIGINT}, #{bpOpenTime,jdbcType=BIGINT}, #{bpInterestSt,jdbcType=TIMESTAMP},
        #{bpInterestEt,jdbcType=TIMESTAMP}, #{bpRemark,jdbcType=VARCHAR}, #{bpExpectLoanTime,jdbcType=TIMESTAMP},
        #{bpServiceChargeRate,jdbcType=DECIMAL}, #{bpLateRate,jdbcType=DECIMAL}, #{bpRcptId,jdbcType=BIGINT},
        #{bpBorrowDesc,jdbcType=VARCHAR}, #{bpFundsPurpose,jdbcType=VARCHAR}, #{bpRepayingSource,jdbcType=VARCHAR},
        #{bpPersonalCredit,jdbcType=VARCHAR}, #{bpMortgageInfo,jdbcType=VARCHAR}, #{bpRiskOpinion,jdbcType=VARCHAR},
        #{bpRepayedPeriods,jdbcType=INTEGER}, #{bpIsDel,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.jebao.jebaodb.entity.loanmanage.TbBidPlan" >
        insert into tb_bid_plan
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="bpId != null" >
                bp_id,
            </if>
            <if test="bpName != null" >
                bp_name,
            </if>
            <if test="bpNumber != null" >
                bp_number,
            </if>
            <if test="bpPeriods != null" >
                bp_periods,
            </if>
            <if test="bpCycle != null" >
                bp_cycle,
            </if>
            <if test="bpSurplusMoney != null" >
                bp_surplus_money,
            </if>
            <if test="bpLoanMoney != null" >
                bp_loan_money,
            </if>
            <if test="bpBidMoney != null" >
                bp_bid_money,
            </if>
            <if test="bpRate != null" >
                bp_rate,
            </if>
            <if test="bpStartTime != null" >
                bp_start_time,
            </if>
            <if test="bpEndTime != null" >
                bp_end_time,
            </if>
            <if test="bpStartMoney != null" >
                bp_start_money,
            </if>
            <if test="bpRiseMoney != null" >
                bp_rise_money,
            </if>
            <if test="bpTopMoney != null" >
                bp_top_money,
            </if>
            <if test="bpFullTime != null" >
                bp_full_time,
            </if>
            <if test="bpStatus != null" >
                bp_status,
            </if>
            <if test="bpCreateTime != null" >
                bp_create_time,
            </if>
            <if test="bpUpdateTime != null" >
                bp_update_time,
            </if>
            <if test="bpLoanTime != null" >
                bp_loan_time,
            </if>
            <if test="bpRepayTime != null" >
                bp_repay_time,
            </if>
            <if test="bpLoanerId != null" >
                bp_loaner_id,
            </if>
            <if test="bpTrueName != null" >
                bp_true_name,
            </if>
            <if test="bpLoginId != null" >
                bp_login_id,
            </if>
            <if test="bpLoanerType != null" >
                bp_loaner_type,
            </if>
            <if test="bpInterestPayType != null" >
                bp_interest_pay_type,
            </if>
            <if test="bpOpenTime != null" >
                bp_open_time,
            </if>
            <if test="bpInterestSt != null" >
                bp_interest_st,
            </if>
            <if test="bpInterestEt != null" >
                bp_interest_et,
            </if>
            <if test="bpRemark != null" >
                bp_remark,
            </if>
            <if test="bpExpectLoanTime != null" >
                bp_expect_loan_time,
            </if>
            <if test="bpServiceChargeRate != null" >
                bp_service_charge_rate,
            </if>
            <if test="bpLateRate != null" >
                bp_late_rate,
            </if>
            <if test="bpRcptId != null" >
                bp_rcpt_id,
            </if>
            <if test="bpBorrowDesc != null" >
                bp_borrow_desc,
            </if>
            <if test="bpFundsPurpose != null" >
                bp_funds_purpose,
            </if>
            <if test="bpRepayingSource != null" >
                bp_repaying_source,
            </if>
            <if test="bpPersonalCredit != null" >
                bp_personal_credit,
            </if>
            <if test="bpMortgageInfo != null" >
                bp_mortgage_info,
            </if>
            <if test="bpRiskOpinion != null" >
                bp_risk_opinion,
            </if>
            <if test="bpRepayedPeriods != null" >
                bp_repayed_periods,
            </if>
            <if test="bpIsDel != null" >
                bp_is_del,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="bpId != null" >
                #{bpId,jdbcType=BIGINT},
            </if>
            <if test="bpName != null" >
                #{bpName,jdbcType=VARCHAR},
            </if>
            <if test="bpNumber != null" >
                #{bpNumber,jdbcType=VARCHAR},
            </if>
            <if test="bpPeriods != null" >
                #{bpPeriods,jdbcType=INTEGER},
            </if>
            <if test="bpCycle != null" >
                #{bpCycle,jdbcType=BIGINT},
            </if>
            <if test="bpSurplusMoney != null" >
                #{bpSurplusMoney,jdbcType=DECIMAL},
            </if>
            <if test="bpLoanMoney != null" >
                #{bpLoanMoney,jdbcType=DECIMAL},
            </if>
            <if test="bpBidMoney != null" >
                #{bpBidMoney,jdbcType=DECIMAL},
            </if>
            <if test="bpRate != null" >
                #{bpRate,jdbcType=DECIMAL},
            </if>
            <if test="bpStartTime != null" >
                #{bpStartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="bpEndTime != null" >
                #{bpEndTime,jdbcType=TIMESTAMP},
            </if>
            <if test="bpStartMoney != null" >
                #{bpStartMoney,jdbcType=DECIMAL},
            </if>
            <if test="bpRiseMoney != null" >
                #{bpRiseMoney,jdbcType=DECIMAL},
            </if>
            <if test="bpTopMoney != null" >
                #{bpTopMoney,jdbcType=DECIMAL},
            </if>
            <if test="bpFullTime != null" >
                #{bpFullTime,jdbcType=TIMESTAMP},
            </if>
            <if test="bpStatus != null" >
                #{bpStatus,jdbcType=INTEGER},
            </if>
            <if test="bpCreateTime != null" >
                #{bpCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="bpUpdateTime != null" >
                #{bpUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="bpLoanTime != null" >
                #{bpLoanTime,jdbcType=TIMESTAMP},
            </if>
            <if test="bpRepayTime != null" >
                #{bpRepayTime,jdbcType=TIMESTAMP},
            </if>
            <if test="bpLoanerId != null" >
                #{bpLoanerId,jdbcType=BIGINT},
            </if>
            <if test="bpTrueName != null" >
                #{bpTrueName,jdbcType=VARCHAR},
            </if>
            <if test="bpLoginId != null" >
                #{bpLoginId,jdbcType=BIGINT},
            </if>
            <if test="bpLoanerType != null" >
                #{bpLoanerType,jdbcType=BIGINT},
            </if>
            <if test="bpInterestPayType != null" >
                #{bpInterestPayType,jdbcType=BIGINT},
            </if>
            <if test="bpOpenTime != null" >
                #{bpOpenTime,jdbcType=BIGINT},
            </if>
            <if test="bpInterestSt != null" >
                #{bpInterestSt,jdbcType=TIMESTAMP},
            </if>
            <if test="bpInterestEt != null" >
                #{bpInterestEt,jdbcType=TIMESTAMP},
            </if>
            <if test="bpRemark != null" >
                #{bpRemark,jdbcType=VARCHAR},
            </if>
            <if test="bpExpectLoanTime != null" >
                #{bpExpectLoanTime,jdbcType=TIMESTAMP},
            </if>
            <if test="bpServiceChargeRate != null" >
                #{bpServiceChargeRate,jdbcType=DECIMAL},
            </if>
            <if test="bpLateRate != null" >
                #{bpLateRate,jdbcType=DECIMAL},
            </if>
            <if test="bpRcptId != null" >
                #{bpRcptId,jdbcType=BIGINT},
            </if>
            <if test="bpBorrowDesc != null" >
                #{bpBorrowDesc,jdbcType=VARCHAR},
            </if>
            <if test="bpFundsPurpose != null" >
                #{bpFundsPurpose,jdbcType=VARCHAR},
            </if>
            <if test="bpRepayingSource != null" >
                #{bpRepayingSource,jdbcType=VARCHAR},
            </if>
            <if test="bpPersonalCredit != null" >
                #{bpPersonalCredit,jdbcType=VARCHAR},
            </if>
            <if test="bpMortgageInfo != null" >
                #{bpMortgageInfo,jdbcType=VARCHAR},
            </if>
            <if test="bpRiskOpinion != null" >
                #{bpRiskOpinion,jdbcType=VARCHAR},
            </if>
            <if test="bpRepayedPeriods != null" >
                #{bpRepayedPeriods,jdbcType=INTEGER},
            </if>
            <if test="bpIsDel != null" >
                #{bpIsDel,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jebao.jebaodb.entity.loanmanage.TbBidPlan" >
        update tb_bid_plan
        <set >
            <if test="bpName != null" >
                bp_name = #{bpName,jdbcType=VARCHAR},
            </if>
            <if test="bpNumber != null" >
                bp_number = #{bpNumber,jdbcType=VARCHAR},
            </if>
            <if test="bpPeriods != null" >
                bp_periods = #{bpPeriods,jdbcType=INTEGER},
            </if>
            <if test="bpCycle != null" >
                bp_cycle = #{bpCycle,jdbcType=BIGINT},
            </if>
            <if test="bpSurplusMoney != null" >
                bp_surplus_money = #{bpSurplusMoney,jdbcType=DECIMAL},
            </if>
            <if test="bpLoanMoney != null" >
                bp_loan_money = #{bpLoanMoney,jdbcType=DECIMAL},
            </if>
            <if test="bpBidMoney != null" >
                bp_bid_money = #{bpBidMoney,jdbcType=DECIMAL},
            </if>
            <if test="bpRate != null" >
                bp_rate = #{bpRate,jdbcType=DECIMAL},
            </if>
            <if test="bpStartTime != null" >
                bp_start_time = #{bpStartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="bpEndTime != null" >
                bp_end_time = #{bpEndTime,jdbcType=TIMESTAMP},
            </if>
            <if test="bpStartMoney != null" >
                bp_start_money = #{bpStartMoney,jdbcType=DECIMAL},
            </if>
            <if test="bpRiseMoney != null" >
                bp_rise_money = #{bpRiseMoney,jdbcType=DECIMAL},
            </if>
            <if test="bpTopMoney != null" >
                bp_top_money = #{bpTopMoney,jdbcType=DECIMAL},
            </if>
            <if test="bpFullTime != null" >
                bp_full_time = #{bpFullTime,jdbcType=TIMESTAMP},
            </if>
            <if test="bpStatus != null" >
                bp_status = #{bpStatus,jdbcType=INTEGER},
            </if>
            <if test="bpCreateTime != null" >
                bp_create_time = #{bpCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="bpUpdateTime != null" >
                bp_update_time = #{bpUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="bpLoanTime != null" >
                bp_loan_time = #{bpLoanTime,jdbcType=TIMESTAMP},
            </if>
            <if test="bpRepayTime != null" >
                bp_repay_time = #{bpRepayTime,jdbcType=TIMESTAMP},
            </if>
            <if test="bpLoanerId != null" >
                bp_loaner_id = #{bpLoanerId,jdbcType=BIGINT},
            </if>
            <if test="bpTrueName != null" >
                bp_true_name = #{bpTrueName,jdbcType=VARCHAR},
            </if>
            <if test="bpLoginId != null" >
                bp_login_id = #{bpLoginId,jdbcType=BIGINT},
            </if>
            <if test="bpLoanerType != null" >
                bp_loaner_type = #{bpLoanerType,jdbcType=BIGINT},
            </if>
            <if test="bpInterestPayType != null" >
                bp_interest_pay_type = #{bpInterestPayType,jdbcType=BIGINT},
            </if>
            <if test="bpOpenTime != null" >
                bp_open_time = #{bpOpenTime,jdbcType=BIGINT},
            </if>
            <if test="bpInterestSt != null" >
                bp_interest_st = #{bpInterestSt,jdbcType=TIMESTAMP},
            </if>
            <if test="bpInterestEt != null" >
                bp_interest_et = #{bpInterestEt,jdbcType=TIMESTAMP},
            </if>
            <if test="bpRemark != null" >
                bp_remark = #{bpRemark,jdbcType=VARCHAR},
            </if>
            <if test="bpExpectLoanTime != null" >
                bp_expect_loan_time = #{bpExpectLoanTime,jdbcType=TIMESTAMP},
            </if>
            <if test="bpServiceChargeRate != null" >
                bp_service_charge_rate = #{bpServiceChargeRate,jdbcType=DECIMAL},
            </if>
            <if test="bpLateRate != null" >
                bp_late_rate = #{bpLateRate,jdbcType=DECIMAL},
            </if>
            <if test="bpRcptId != null" >
                bp_rcpt_id = #{bpRcptId,jdbcType=BIGINT},
            </if>
            <if test="bpBorrowDesc != null" >
                bp_borrow_desc = #{bpBorrowDesc,jdbcType=VARCHAR},
            </if>
            <if test="bpFundsPurpose != null" >
                bp_funds_purpose = #{bpFundsPurpose,jdbcType=VARCHAR},
            </if>
            <if test="bpRepayingSource != null" >
                bp_repaying_source = #{bpRepayingSource,jdbcType=VARCHAR},
            </if>
            <if test="bpPersonalCredit != null" >
                bp_personal_credit = #{bpPersonalCredit,jdbcType=VARCHAR},
            </if>
            <if test="bpMortgageInfo != null" >
                bp_mortgage_info = #{bpMortgageInfo,jdbcType=VARCHAR},
            </if>
            <if test="bpRiskOpinion != null" >
                bp_risk_opinion = #{bpRiskOpinion,jdbcType=VARCHAR},
            </if>
            <if test="bpRepayedPeriods != null" >
                bp_repayed_periods = #{bpRepayedPeriods,jdbcType=INTEGER},
            </if>
            <if test="bpIsDel != null" >
                bp_is_del = #{bpIsDel,jdbcType=INTEGER},
            </if>
        </set>
        where bp_id = #{bpId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jebao.jebaodb.entity.loanmanage.TbBidPlan" >
    update tb_bid_plan
    set bp_name = #{bpName,jdbcType=VARCHAR},
      bp_number = #{bpNumber,jdbcType=VARCHAR},
      bp_periods = #{bpPeriods,jdbcType=INTEGER},
      bp_cycle = #{bpCycle,jdbcType=BIGINT},
      bp_surplus_money = #{bpSurplusMoney,jdbcType=DECIMAL},
      bp_loan_money = #{bpLoanMoney,jdbcType=DECIMAL},
      bp_bid_money = #{bpBidMoney,jdbcType=DECIMAL},
      bp_rate = #{bpRate,jdbcType=DECIMAL},
      bp_start_time = #{bpStartTime,jdbcType=TIMESTAMP},
      bp_end_time = #{bpEndTime,jdbcType=TIMESTAMP},
      bp_start_money = #{bpStartMoney,jdbcType=DECIMAL},
      bp_rise_money = #{bpRiseMoney,jdbcType=DECIMAL},
      bp_top_money = #{bpTopMoney,jdbcType=DECIMAL},
      bp_full_time = #{bpFullTime,jdbcType=TIMESTAMP},
      bp_status = #{bpStatus,jdbcType=INTEGER},
      bp_create_time = #{bpCreateTime,jdbcType=TIMESTAMP},
      bp_update_time = #{bpUpdateTime,jdbcType=TIMESTAMP},
      bp_loan_time = #{bpLoanTime,jdbcType=TIMESTAMP},
      bp_repay_time = #{bpRepayTime,jdbcType=TIMESTAMP},
      bp_loaner_id = #{bpLoanerId,jdbcType=BIGINT},
      bp_true_name = #{bpTrueName,jdbcType=VARCHAR},
      bp_login_id = #{bpLoginId,jdbcType=BIGINT},
      bp_loaner_type = #{bpLoanerType,jdbcType=BIGINT},
      bp_interest_pay_type = #{bpInterestPayType,jdbcType=BIGINT},
      bp_open_time = #{bpOpenTime,jdbcType=BIGINT},
      bp_interest_st = #{bpInterestSt,jdbcType=TIMESTAMP},
      bp_interest_et = #{bpInterestEt,jdbcType=TIMESTAMP},
      bp_remark = #{bpRemark,jdbcType=VARCHAR},
      bp_expect_loan_time = #{bpExpectLoanTime,jdbcType=TIMESTAMP},
      bp_service_charge_rate = #{bpServiceChargeRate,jdbcType=DECIMAL},
      bp_late_rate = #{bpLateRate,jdbcType=DECIMAL},
      bp_rcpt_id = #{bpRcptId,jdbcType=BIGINT},
      bp_borrow_desc = #{bpBorrowDesc,jdbcType=VARCHAR},
      bp_funds_purpose = #{bpFundsPurpose,jdbcType=VARCHAR},
      bp_repaying_source = #{bpRepayingSource,jdbcType=VARCHAR},
      bp_personal_credit = #{bpPersonalCredit,jdbcType=VARCHAR},
      bp_mortgage_info = #{bpMortgageInfo,jdbcType=VARCHAR},
      bp_risk_opinion = #{bpRiskOpinion,jdbcType=VARCHAR},
      bp_repayed_periods = #{bpRepayedPeriods,jdbcType=INTEGER},
      bp_is_del = #{bpIsDel,jdbcType=INTEGER}
    where bp_id = #{bpId,jdbcType=BIGINT}
  </update>
    <!--==================================================华丽分割线==================================================-->
    <sql id="selectByCondition_Where_Clause">
        <if test="bpName != null">
            bp_name = #{bpName,jdbcType=VARCHAR},
        </if>
        <if test="bpNumber != null">
            bp_number = #{bpNumber,jdbcType=VARCHAR},
        </if>
        <if test="bpPeriods != null">
            bp_periods = #{bpPeriods,jdbcType=INTEGER},
        </if>
        <if test="bpCycle != null">
            bp_cycle = #{bpCycle,jdbcType=BIGINT},
        </if>
        <if test="bpSurplusMoney != null">
            bp_surplus_money = #{bpSurplusMoney,jdbcType=DECIMAL},
        </if>
        <if test="bpLoanMoney != null">
            bp_loan_money = #{bpLoanMoney,jdbcType=DECIMAL},
        </if>
        <if test="bpBidMoney != null">
            bp_bid_money = #{bpBidMoney,jdbcType=DECIMAL},
        </if>
        <if test="bpRate != null">
            bp_rate = #{bpRate,jdbcType=DECIMAL},
        </if>
        <if test="bpStartTime != null">
            bp_start_time = #{bpStartTime,jdbcType=TIMESTAMP},
        </if>
        <if test="bpEndTime != null">
            bp_end_time = #{bpEndTime,jdbcType=TIMESTAMP},
        </if>
        <if test="bpStartMoney != null">
            bp_start_money = #{bpStartMoney,jdbcType=DECIMAL},
        </if>
        <if test="bpRiseMoney != null">
            bp_rise_money = #{bpRiseMoney,jdbcType=DECIMAL},
        </if>
        <if test="bpTopMoney != null">
            bp_top_money = #{bpTopMoney,jdbcType=DECIMAL},
        </if>
        <if test="bpFullTime != null">
            bp_full_time = #{bpFullTime,jdbcType=TIMESTAMP},
        </if>
        <if test="bpStatus != null">
            bp_status = #{bpStatus,jdbcType=INTEGER},
        </if>
        <if test="bpCreateTime != null">
            bp_create_time = #{bpCreateTime,jdbcType=TIMESTAMP},
        </if>
        <if test="bpUpdateTime != null">
            bp_update_time = #{bpUpdateTime,jdbcType=TIMESTAMP},
        </if>
        <if test="bpLoanTime != null">
            bp_loan_time = #{bpLoanTime,jdbcType=TIMESTAMP},
        </if>
        <if test="bpRepayTime != null">
            bp_repay_time = #{bpRepayTime,jdbcType=TIMESTAMP},
        </if>
        <if test="bpLoanerId != null">
            bp_loaner_id = #{bpLoanerId,jdbcType=BIGINT},
        </if>
        <if test="bpTrueName != null">
            bp_true_name = #{bpTrueName,jdbcType=VARCHAR},
        </if>
        <if test="bpLoginId != null">
            bp_login_id = #{bpLoginId,jdbcType=BIGINT},
        </if>
        <if test="bpLoanerType != null">
            bp_loaner_type = #{bpLoanerType,jdbcType=BIGINT},
        </if>
        <if test="bpInterestPayType != null">
            bp_interest_pay_type = #{bpInterestPayType,jdbcType=BIGINT},
        </if>
        <if test="bpOpenTime != null">
            bp_open_time = #{bpOpenTime,jdbcType=BIGINT},
        </if>
        <if test="bpInterestSt != null">
            bp_interest_st = #{bpInterestSt,jdbcType=TIMESTAMP},
        </if>
        <if test="bpInterestEt != null">
            bp_interest_et = #{bpInterestEt,jdbcType=TIMESTAMP},
        </if>
        <if test="bpRemark != null">
            bp_remark = #{bpRemark,jdbcType=VARCHAR},
        </if>
        <if test="bpExpectLoanTime != null">
            bp_expect_loan_time = #{bpExpectLoanTime,jdbcType=TIMESTAMP},
        </if>
        <if test="bpServiceChargeRate != null">
            bp_service_charge_rate = #{bpServiceChargeRate,jdbcType=DECIMAL},
        </if>
        <if test="bpLateRate != null">
            bp_late_rate = #{bpLateRate,jdbcType=DECIMAL},
        </if>
        <if test="bpRcptId != null">
            bp_rcpt_id = #{bpRcptId,jdbcType=BIGINT},
        </if>
        <if test="bpBorrowDesc != null">
            bp_borrow_desc = #{bpBorrowDesc,jdbcType=VARCHAR},
        </if>
        <if test="bpFundsPurpose != null">
            bp_funds_purpose = #{bpFundsPurpose,jdbcType=VARCHAR},
        </if>
        <if test="bpRepayingSource != null">
            bp_repaying_source = #{bpRepayingSource,jdbcType=VARCHAR},
        </if>
        <if test="bpPersonalCredit != null">
            bp_personal_credit = #{bpPersonalCredit,jdbcType=VARCHAR},
        </if>
        <if test="bpMortgageInfo != null">
            bp_mortgage_info = #{bpMortgageInfo,jdbcType=VARCHAR},
        </if>
        <if test="bpRiskOpinion != null">
            bp_risk_opinion = #{bpRiskOpinion,jdbcType=VARCHAR},
        </if>
        <if test="bpRepayedPeriods != null">
            bp_repayed_periods = #{bpRepayedPeriods,jdbcType=INTEGER},
        </if>
        <if test="bpIsDel != null">
            bp_is_del = #{bpIsDel,jdbcType=INTEGER},
        </if>
    </sql>
    <select id="selectForPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tb_bid_plan
        order by id DESC
        LIMIT #{pageWhere.begin},#{pageWhere.pageSize}
    </select>
    <select id="selectByConditionForPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tb_bid_plan
        WHERE
        bp_borrow_desc = #{record.bpBorrowDesc}
        order by bp_id DESC
        LIMIT #{pageWhere.begin},#{pageWhere.pageSize}
    </select>
    <select id="selectByConditionForPageCount" resultType="java.lang.Integer">
        select count(*)
        from tb_bid_plan
        WHERE 1=1
        <include refid="selectByCondition_Where_Clause" />
    </select>
</mapper>