<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jebao.jebaodb.dao.mapper.loanmanage.TbBorrowerRepayPlanMapper" >
  <resultMap id="BaseResultMap" type="com.jebao.jebaodb.entity.loanmanage.TbBorrowerRepayPlan" >
    <id column="brp_id" property="brpId" jdbcType="BIGINT" />
    <result column="brp_bp_id" property="brpBpId" jdbcType="BIGINT" />
    <result column="brp_date_time" property="brpDateTime" jdbcType="TIMESTAMP" />
    <result column="brp_periods" property="brpPeriods" jdbcType="INTEGER" />
    <result column="brp_fund_type" property="brpFundType" jdbcType="INTEGER" />
    <result column="brp_money" property="brpMoney" jdbcType="DECIMAL" />
    <result column="brp_status" property="brpStatus" jdbcType="INTEGER" />
    <result column="brp_bp_number" property="brpBpNumber" jdbcType="VARCHAR" />
    <result column="brp_bp_name" property="brpBpName" jdbcType="VARCHAR" />
    <result column="brp_loaner_true_name" property="brpLoanerTrueName" jdbcType="VARCHAR" />
    <result column="brp_is_del" property="brpIsDel" jdbcType="INTEGER" />
    <result column="brp_create_time" property="brpCreateTime" jdbcType="TIMESTAMP" />
    <result column="brp_update_time" property="brpUpdateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    brp_id, brp_bp_id, brp_date_time, brp_periods, brp_fund_type, brp_money, brp_status, 
    brp_bp_number, brp_bp_name, brp_loaner_true_name, brp_is_del, brp_create_time, brp_update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_borrower_repay_plan
    where brp_id = #{brpId,jdbcType=BIGINT}
  </select>
  <insert id="insert" parameterType="com.jebao.jebaodb.entity.loanmanage.TbBorrowerRepayPlan" >
    insert into tb_borrower_repay_plan (brp_id, brp_bp_id, brp_date_time, 
      brp_periods, brp_fund_type, brp_money, 
      brp_status, brp_bp_number, brp_bp_name, 
      brp_loaner_true_name, brp_is_del, brp_create_time, 
      brp_update_time)
    values (#{brpId,jdbcType=BIGINT}, #{brpBpId,jdbcType=BIGINT}, #{brpDateTime,jdbcType=TIMESTAMP}, 
      #{brpPeriods,jdbcType=INTEGER}, #{brpFundType,jdbcType=INTEGER}, #{brpMoney,jdbcType=DECIMAL}, 
      #{brpStatus,jdbcType=INTEGER}, #{brpBpNumber,jdbcType=VARCHAR}, #{brpBpName,jdbcType=VARCHAR}, 
      #{brpLoanerTrueName,jdbcType=VARCHAR}, #{brpIsDel,jdbcType=INTEGER}, #{brpCreateTime,jdbcType=TIMESTAMP}, 
      #{brpUpdateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jebao.jebaodb.entity.loanmanage.TbBorrowerRepayPlan" >
    insert into tb_borrower_repay_plan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="brpId != null" >
        brp_id,
      </if>
      <if test="brpBpId != null" >
        brp_bp_id,
      </if>
      <if test="brpDateTime != null" >
        brp_date_time,
      </if>
      <if test="brpPeriods != null" >
        brp_periods,
      </if>
      <if test="brpFundType != null" >
        brp_fund_type,
      </if>
      <if test="brpMoney != null" >
        brp_money,
      </if>
      <if test="brpStatus != null" >
        brp_status,
      </if>
      <if test="brpBpNumber != null" >
        brp_bp_number,
      </if>
      <if test="brpBpName != null" >
        brp_bp_name,
      </if>
      <if test="brpLoanerTrueName != null" >
        brp_loaner_true_name,
      </if>
      <if test="brpIsDel != null" >
        brp_is_del,
      </if>
      <if test="brpCreateTime != null" >
        brp_create_time,
      </if>
      <if test="brpUpdateTime != null" >
        brp_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="brpId != null" >
        #{brpId,jdbcType=BIGINT},
      </if>
      <if test="brpBpId != null" >
        #{brpBpId,jdbcType=BIGINT},
      </if>
      <if test="brpDateTime != null" >
        #{brpDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="brpPeriods != null" >
        #{brpPeriods,jdbcType=INTEGER},
      </if>
      <if test="brpFundType != null" >
        #{brpFundType,jdbcType=INTEGER},
      </if>
      <if test="brpMoney != null" >
        #{brpMoney,jdbcType=DECIMAL},
      </if>
      <if test="brpStatus != null" >
        #{brpStatus,jdbcType=INTEGER},
      </if>
      <if test="brpBpNumber != null" >
        #{brpBpNumber,jdbcType=VARCHAR},
      </if>
      <if test="brpBpName != null" >
        #{brpBpName,jdbcType=VARCHAR},
      </if>
      <if test="brpLoanerTrueName != null" >
        #{brpLoanerTrueName,jdbcType=VARCHAR},
      </if>
      <if test="brpIsDel != null" >
        #{brpIsDel,jdbcType=INTEGER},
      </if>
      <if test="brpCreateTime != null" >
        #{brpCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="brpUpdateTime != null" >
        #{brpUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jebao.jebaodb.entity.loanmanage.TbBorrowerRepayPlan" >
    update tb_borrower_repay_plan
    <set >
      <if test="brpBpId != null" >
        brp_bp_id = #{brpBpId,jdbcType=BIGINT},
      </if>
      <if test="brpDateTime != null" >
        brp_date_time = #{brpDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="brpPeriods != null" >
        brp_periods = #{brpPeriods,jdbcType=INTEGER},
      </if>
      <if test="brpFundType != null" >
        brp_fund_type = #{brpFundType,jdbcType=INTEGER},
      </if>
      <if test="brpMoney != null" >
        brp_money = #{brpMoney,jdbcType=DECIMAL},
      </if>
      <if test="brpStatus != null" >
        brp_status = #{brpStatus,jdbcType=INTEGER},
      </if>
      <if test="brpBpNumber != null" >
        brp_bp_number = #{brpBpNumber,jdbcType=VARCHAR},
      </if>
      <if test="brpBpName != null" >
        brp_bp_name = #{brpBpName,jdbcType=VARCHAR},
      </if>
      <if test="brpLoanerTrueName != null" >
        brp_loaner_true_name = #{brpLoanerTrueName,jdbcType=VARCHAR},
      </if>
      <if test="brpIsDel != null" >
        brp_is_del = #{brpIsDel,jdbcType=INTEGER},
      </if>
      <if test="brpCreateTime != null" >
        brp_create_time = #{brpCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="brpUpdateTime != null" >
        brp_update_time = #{brpUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where brp_id = #{brpId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jebao.jebaodb.entity.loanmanage.TbBorrowerRepayPlan" >
    update tb_borrower_repay_plan
    set brp_bp_id = #{brpBpId,jdbcType=BIGINT},
      brp_date_time = #{brpDateTime,jdbcType=TIMESTAMP},
      brp_periods = #{brpPeriods,jdbcType=INTEGER},
      brp_fund_type = #{brpFundType,jdbcType=INTEGER},
      brp_money = #{brpMoney,jdbcType=DECIMAL},
      brp_status = #{brpStatus,jdbcType=INTEGER},
      brp_bp_number = #{brpBpNumber,jdbcType=VARCHAR},
      brp_bp_name = #{brpBpName,jdbcType=VARCHAR},
      brp_loaner_true_name = #{brpLoanerTrueName,jdbcType=VARCHAR},
      brp_is_del = #{brpIsDel,jdbcType=INTEGER},
      brp_create_time = #{brpCreateTime,jdbcType=TIMESTAMP},
      brp_update_time = #{brpUpdateTime,jdbcType=TIMESTAMP}
    where brp_id = #{brpId,jdbcType=BIGINT}
  </update>

    <!--==================================================华丽分割线==================================================-->
    <sql id="selectByCondition_Where_Clause">
        <if test="record.brpBpId != null" >
            brp_bp_id = #{record.brpBpId,jdbcType=BIGINT}
        </if>
        <if test="record.brpDateTime != null" >
          AND brp_date_time = #{record.brpDateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="record.brpPeriods != null" >
          AND brp_periods = #{record.brpPeriods,jdbcType=INTEGER}
        </if>
        <if test="record.brpFundType != null" >
          AND brp_fund_type = #{record.brpFundType,jdbcType=INTEGER}
        </if>
        <if test="record.brpMoney != null" >
          AND brp_money = #{record.brpMoney,jdbcType=DECIMAL}
        </if>
        <if test="record.brpStatus != null" >
          AND brp_status = #{record.brpStatus,jdbcType=INTEGER}
        </if>
        <if test="record.brpBpNumber != null" >
          AND brp_bp_number = #{record.brpBpNumber,jdbcType=VARCHAR}
        </if>
        <if test="record.brpBpName != null" >
          AND brp_bp_name = #{record.brpBpName,jdbcType=VARCHAR}
        </if>
        <if test="record.brpLoanerTrueName != null" >
          AND brp_loaner_true_name = #{record.brpLoanerTrueName,jdbcType=VARCHAR}
        </if>
        <if test="record.brpIsDel != null" >
          AND brp_is_del = #{record.brpIsDel,jdbcType=INTEGER}
        </if>
        <if test="record.brpCreateTime != null" >
          AND brp_create_time = #{record.brpCreateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="record.brpUpdateTime != null" >
          AND brp_update_time = #{record.brpUpdateTime,jdbcType=TIMESTAMP}
        </if>
    </sql>

    <select id="selectForPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from Tb_borrower_repay_plan
        <if test="pageWhere.orderBy!=null">
            ${pageWhere.orderBy}
        </if>
        LIMIT #{pageWhere.begin},#{pageWhere.pageSize}
    </select>
    <select id="selectByConditionForPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from Tb_borrower_repay_plan
        <where>
            <include refid="selectByCondition_Where_Clause" />
        </where>
        <if test="pageWhere.orderBy!=null">
            ${pageWhere.orderBy}
        </if>
        LIMIT #{pageWhere.begin},#{pageWhere.pageSize}
    </select>
    <select id="selectByConditionCount" resultType="java.lang.Integer">
        select count(*)
        from Tb_borrower_repay_plan
        <where>
            <include refid="selectByCondition_Where_Clause" />
        </where>
    </select>
</mapper>